[2015-01-23 06:53] soonhokong opened #1 "Linking Error"
@zenna reported to @scungao.
[code]

[2015-01-23 06:54] soonhokong commented on #1
https://code.google.com/p/google-glog/issues/detail?id=207

[2015-01-23 06:59] soonhokong commented on #1
@zenna and @scungao, I've updated [soonhokong/glog](https://github.com/soonhokong/glog) repository which is used in dReal build process. Could you go to your build directory, do the followings, let me know if it fixes your problem?

[code]

[2015-01-24 01:46] zenna commented on #1
@soonhokong  No, it didn't; the build still fails.

Neither did a rebuilding everything from scratch help.  I should point out that these linking errors occur when dReal is being linked, .i.e.

[code]

[2015-01-24 02:07] soonhokong commented on #1
@zenna, thanks for the report. Let me reproduce the problem on my machine. I'll be right back.

[2015-01-24 02:38] soonhokong commented on #1
@zenna, could you let me know if your system has any of the following packages installed?

 - libunwind-setjmp0 - A libunwind-based non local goto - runtime
 - libunwind-setjmp0-dev - A libunwind-based non local goto - development
 - libunwind7 - A library to determine the call-chain of a program - runtime
 - libunwind7-dev - A library to determine the call-chain of a program - development

[2015-01-24 04:20] soonhokong commented on #1
It seems that I can find the problem. When `glog` is built using `libunwind`, we need to pass `-lunwind` linker flag for dReal. For now, this step is missing. I'll add it soon.

[2015-01-24 07:54] soonhokong commented on #1
@zenna, could you try the latest version and let me know if it fixes your problem?

I was able to reproduce the problem on my system and then 96b6cec5cadc9d614bda6f27feaf80c2263b2188 fixed the problem on my system.

[2015-01-24 09:02] zenna commented on #1
I tried the newest version. First of all I got Ocaml errors saying I did not have batteries installed so I installed libbatteries-ocaml-dev. I then did a fresh install and got

[code]

I ran build.sh again and got

-- Configuring incomplete, errors occurred!
See also "/home/zenna/repos/dreal_nra/build/CMakeFiles/CMakeOutput.log".
You have changed variables that require your cache to be deleted.
Co

[2015-01-24 09:19] soonhokong commented on #1
@zenna

1. OCaml problem is a different issue. We're using a pretty recent version of OCaml (4.01.0) which is hard to install via `apt-get`.  We recommend users to install OCaml via [opam](http://opam.ocamlpro.com) and I put detailed instructions at https://github.com/dreal/dreal/blob/master/doc/ubuntu-gcc.md#dreachbmc-and-other-tools

2. I just pushed a new commit to `dreal/dreal_nra` repo. Could

[2015-01-24 09:24] soonhokong opened #2 "seg-fault for unbounded problem"
[code]

[2015-01-24 15:45] scungao commented on #1
Zenna doesn't need the ocaml part. We should really separate the dreal and dreach building.

[2015-01-24 15:49] scungao commented on #1
Also let's make a "test" release binary on the new nra branch so that it's easier for others to try.

[2015-01-24 16:32] zenna commented on #1
@soonhokong No change.  I still get

[code]

Of the libraries you suggested, I have none installed.  I have libunwind8 and libunwind8-dev.
I am on ubuntu 14.04.

[2015-01-24 20:42] soonhokong commented on #1
@zenna, thanks for the information. It seems that at least we don't have the problem with `libunwind`.

The new problem indicates that you have `LAPACK` installed and `Coin` library on which dReal depends uses the system `LAPACK` instead of its third party one. However, when dReal is built, we don't link the system `LAPACK` and that is why we have the problem.

@scungao is right. I'll try to prepa

[2015-01-26 17:46] soonhokong commented on #1
@zenna and @scungao, thanks for waiting. I've managed to make a static binary for the new version. Please download it and let me know if it doesn't work on your system:

https://dl.dropboxusercontent.com/u/10377018/dReal

@scungao, I've made the following changes:

 - dReal builds a *static* library of `Clp` (linear solving library on which `IBEX` depends) instead of letting `IBEX` builds `Clp` by

[2015-01-26 22:32] zenna commented on #1
@soonhokong Thanks! the binary seems to work.  In the output of the new version I noticed in the summary details 'Number of Pop'.  Does this imply that I can use the new version incrementally? currently I am sending many (thousands) of requests to solvers (through the file interface) which vary only by a few constraints. Is there currently a way to do this which would be substantially more perform

[2015-01-26 22:42] soonhokong opened #3 "support C API"

[2015-01-26 22:52] soonhokong commented on #1
@zenna, good to know that at least the binary is working. Could you actually check out the latest source code and test `cd /home/zenna/repos/dreal_nra/build && make`? I'm wondering whether the recent patches fix your problem or not.

FYI, those stat messages are there for debugging purposes. I will provide an option to show them.

Incremental solving is on our to-do list. Ideally, you can use dRea

[2015-01-26 23:49] zenna commented on #1
@soonhokong It builds! (aside from the ocaml issues which I haven't resolved).

To clarify when you say "For now, we do have some problems and it doesn't work yet." do you mean this build in general, or using the C API?

[2015-01-27 00:50] soonhokong commented on #1
@zenna, first of all, thanks for checking this for us. I feel much better now!

I meant that there are some problems in using dReal via C APIs. The binary is working even if there are some known bugs (different ones).

Let me close this issue because it seems that we resolved the linkage problem. Please subscribe #3, to get notification about it.

[2015-01-27 00:50] #1 closed

[2015-01-27 00:53] scungao commented on #1
We haven't really worked out how to do nonlinear solving incrementally. It's hard to balance efficiency and incrementality. So I'd say it doesn't work at all yet.

[2015-01-27 14:40] scungao opened #4 "Wrong unsat"
This formula should be sat. New version returns unsat. Old version is correct.

(set-logic QF_NRA)
(declare-fun xd () Real)
(declare-fun theta () Real)
(declare-fun thetad () Real)
(declare-fun u () Real)
(assert (<= xd 10))
(assert (>= xd -10))
(assert (<= theta 4))
(assert (>= theta -4))
(assert (<= thetad 10))
(assert (>= thetad -10))
(assert (<= u 10))
(assert (>= u -10))
(assert (and (and (=

[2015-01-28 10:31] soonhokong opened #5 "memory leaks"
[code]

[code]

[code]

[2015-01-28 19:07] soonhokong commented on #4
FYI, this is a bug of dReal, not IBEX. Let me revisit this after finishing up `forall_t`.

[2015-01-28 19:21] scungao commented on #4
Great :)

[2015-01-28 19:58] #4 closed

[2015-01-28 19:59] soonhokong commented on #4
[code]

[2015-01-28 20:04] soonhokong commented on #4
It kept haunting me so I spent a little more time on it to fix.

When we convert an Enode expression `x^y` to ibex function, we encoded `x^y` as `pow(x,y)`. FYI, in IBEX, it is represented as `exp(x*log(y))` and they don't really have a representation for `x^y`.  f213d38 is to handle `x^2` as `sqr(x)` instead of `pow(x,y)`. This solves the problem somehow.

[2015-01-28 20:19] scungao commented on #4
You mean exp(y*log(x)) right?

The solution is right -- btw it's a stationary point of an inverted pendulum. :)

[2015-01-28 20:20] soonhokong commented on #4
Yes.

[2015-01-28 23:35] scungao commented on #4
Btw let Zenna know about the new version with this problem fixed.

[2015-01-29 00:10] soonhokong commented on #4
@zenna, could you check out the latest source code, recompile, and test this as @scungao suggested? If you still need a pre-compiled binary, please let me know. I'll get some sleep but will be back in 4 - 5 hours from now.

[2015-01-29 07:24] soonhokong commented on #2
After fixing this, don't forget to try microfluidic benchmarks.

[2015-01-29 07:48] soonhokong opened #6 "contractor to check strict inequality"

[2015-01-29 07:49] soonhokong opened #7 "capd_contractor: catch execption from CAPD4"

[2015-01-30 07:05] soonhokong opened #8 "support (set-option :precision 0.1) in smt2 file"

[2015-01-30 07:05] soonhokong opened #9 "support --model option"

[2015-01-30 07:20] soonhokong opened #10 "segmentation fault"
@scungao reported.

Log:

[code]

Input File:

[code]

[2015-01-30 10:42] #2 closed

[2015-01-30 10:44] soonhokong commented on #2
@scungao, this fixes the segmentation-fault problem. However, the above unbounded and simple example does not terminate (because of variable domain is [-oo, oo]?)

[2015-01-30 10:44] soonhokong commented on #10
@scungao, can you confirm that c1f5c521407644e745284011b4d34f395b44bd57 fixes the problem?

[2015-01-30 11:52] #8 closed

[2015-01-30 11:54] soonhokong commented on #8
@dzufferey, please use the latest version.

[2015-01-30 14:53] scungao commented on #2
That shouldn't be the right behavior. I thought you were adding a linear pruning operator which should trivially return unsat on this?

[2015-01-30 14:55] soonhokong commented on #2
Are you Sean for sure? You sounds like him though...

![screen shot 2015-01-30 at 9 54 54 am](https://cloud.githubusercontent.com/assets/403281/5977444/220c263e-a866-11e4-85ef-da2f2cf35c2d.png)

[2015-01-30 14:56] soonhokong commented on #2
For the bounded cases, this version of dReal concludes UNSAT very quickly. Unfortunately, that is not the case for the unbounded problem.

[2015-01-30 15:14] scungao commented on #2
I still get seg fault after updating, on this file:

(set-logic QF_NRA)
(declare-fun x () Real)
(assert (> x -100000))
(assert (< x 1000000))
(assert (= x (+ x 10.0)))
(check-sat)
(exit)

A previous binary (I think the test release one) of the nra branch was able to solve this problem. But if I delete the bounds, it (the binary from a previous version) says

dReal(59739,0x7fff74fae310) malloc: ***

[2015-01-30 15:18] soonhokong commented on #2
Can you try `ctest` in your build directory? If you get a bunch of failures, please do

[code]

and then build it again. I think I had a similar problem and the above trick helped me.

[2015-01-30 15:20] soonhokong commented on #2
FYI, I have UNSAT for the above instance (with bounds) in 0.014 sec.

[2015-01-30 15:23] scungao opened #11 "uniform proof file"
On SAT cases, could you make the nra version produce the same format as dreal/dreal, when I give "--proof"? (No need to care about UNSAT for now, perhaps just return unsat in that file.)

So that I don't need to change my parsing scheme when reading results from the two versions.

[2015-01-30 15:24] soonhokong commented on #11
will do.

[2015-01-30 15:41] scungao commented on #2
Yes the new build fixes the problem. How can this happen? Perhaps add something in the build script to avoid this? (no rush on that)

[2015-01-30 15:41] #10 closed

[2015-01-30 15:46] soonhokong commented on #2
Haha, good to know.

In short, you don't need to worry about. It's CMake which picks up the previously generated libraries with new flags (because I changed some link flags). In general, it shouldn't happen, esp, in a fresh checked-out source code.

[2015-01-30 16:11] dzufferey commented on #8
Thanks

[2015-01-30 21:57] zenna commented on #4
Thanks @soonhokong and @scungao, yes it builds. Sleep for more than four hours at a time!

However, the following are both (wrongly) unsat

[code]

[code]

Also the following problem causes dReal to segfault

[code]

[2015-01-30 22:03] zenna commented on #4
And the old version answers this particular problem correctly.

[2015-01-30 22:05] scungao commented on #4
The problem with rebuild? @soonhokong

@zenna Were you building from a fresh clone of the source or updating a previous one? In the latter case, rm -rf the build directory and build again. I had a similar problem when seeing some seg faults.

[2015-01-30 22:06] zenna commented on #4
@scungao I did a build from scratch. Do you get the same result on this example?

[2015-01-30 22:07] zenna commented on #4
@scungao I didn't do a fresh clone, but that shouldn't make a difference. I'll do it anyway.  But from what I have seen it does look a lot faster.

[2015-01-30 22:18] soonhokong commented on #4
@zenna, I can reproduce the two wrongly UNSATs and one segmentation fault problem. Let me open two separate issues for them.

[2015-01-30 22:19] soonhokong opened #12 "UNSAT but should be SAT"
[code]

[code]

[2015-01-30 22:20] soonhokong opened #13 "Segmentation Fault"
@zenna reported:

[code]

[2015-01-30 22:20] soonhokong commented on #12
@zenna reported this.

[2015-01-30 22:20] soonhokong commented on #4
#12 and #13

[2015-01-31 01:51] zenna opened #14 "Poor Performance (in comparison to Z3) on nonlinear problem"
Z3 anaswers the following query in milliseconds. dReal hasn't returned a response within the last 15 minutes.

[code]

[2015-01-31 01:57] scungao commented on #14
Yes this is a linear problem right (it seems all multiplications and
divisions are between terms and constants). dReal should be stupid on them
although we are trying to improve that...

Are your formulas mostly similar to this one? In that case you may want to
always run z3 first and only call dReal when something nonlinear comes up.

2015-01-30 20:51 GMT-05:00 Zenna Tavares <notifications@github

[2015-01-31 02:26] zenna commented on #14
It shouldn't be linear unless I have made a mistake.  It's a bunch of line-line intersection test. z3 tells me it is using nlsat also. But I tried the same problem with different bounds for the omegas and dReal finished instantly while z3 lagged, so..

[2015-01-31 12:19] #11 closed

[2015-01-31 12:21] soonhokong commented on #11
src/tests/nra/01.smt2.proof file for dReal2 and dReal3. Please ignore the different models which are due to the different numeric solvers that we are using.

dReal2
[code]

dReal3
[code]

[2015-01-31 12:22] soonhokong opened #15 "keep doing "Re-running CMake""
symptom:

[code]

[2015-02-03 22:48] zenna opened #16 "Query and its negation both unsat"
Both of these are (wrongly) unsat.  Perhaps same issue as in #12

(set-logic QF_NRA)
(declare-fun omega3 () Real)
(assert (>= omega3 0.49766302108764654))
(assert (<= omega3 0.4976634979248047))
(declare-fun omega1 () Real)
(assert (>= omega1 0.43626213073730474))
(assert (<= omega1 0.4362626075744629))
(declare-fun omega0 () Real)
(assert (>= omega0 0.45101928710937506))
(assert (<= omega0 0.4510

[2015-02-04 07:43] #9 closed

[2015-02-04 07:43] #12 closed

[2015-02-04 07:46] soonhokong commented on #16
closed by 3e6d785

[2015-02-04 07:46] #16 closed

[2015-02-04 08:35] zenna opened #17 "Segmentation Fault"
(set-logic QF_NRA)
(declare-fun omega0 () Real)
(assert (>= omega0 0.0))
(assert (<= omega0 1.0))
(declare-fun omega1 () Real)
(assert (>= omega1 0.0))
(assert (<= omega1 1.0))
(declare-fun omega5 () Real)
(assert (>= omega5 0.0))
(assert (<= omega5 1.0))
(declare-fun omega3 () Real)
(assert (>= omega3 0.0))
(assert (<= omega3 1.0))
(declare-fun omega2 () Real)
(assert (>= omega2 0.0))
(assert (<=

[2015-02-04 19:12] zenna commented on #17
Also, maybe I was a bit optimistic with this query.

[2015-02-04 19:14] soonhokong commented on #17
It's OK. I'll fix it soon.

[2015-02-04 19:22] zenna commented on #17
Well, the old version of dreal has been running it for half a day

[2015-02-04 21:08] soonhokong commented on #17
@zenna, I've fixed the segmentation fault and tried this example on my machine. Do you have any expected result for this instance (SAT/UNSAT)? I'll push the changes soon.

[2015-02-04 21:11] zenna commented on #17
Actually I am not sure what the result should be.  But If you tell me the
model it gives, I can tell you if its reasonable.

Zenna

On 4 February 2015 at 16:08, Soonho Kong <notifications@github.com> wrote:

[2015-02-04 21:13] soonhokong commented on #17
@scungao, this example includes many ITEs and I guess that is why it takes long time to solve (in addition to the size of formula itself).

[2015-02-04 21:15] #13 closed

[2015-02-04 21:17] #17 closed

[2015-02-06 17:30] scungao opened #18 "unsat with no message"
old version returns sat. new version returns unsat, without any trace when --verbose.

(set-logic QF_NRA)
(declare-fun vhat0 () Real)
(declare-fun thehat0 () Real)
(declare-fun zp_0_0 () Real)
(declare-fun vhat1 () Real)
(declare-fun thehat1 () Real)
(declare-fun zp_1_1 () Real)
(declare-fun vhat2 () Real)
(declare-fun thehat2 () Real)
(declare-fun zp_2_2 () Real)
(assert (<= vhat0 5))
(assert (>=

[2015-02-06 17:32] scungao commented on #18
oh perhaps because almost everything is evaluated to zero.

[2015-02-06 18:00] soonhokong commented on #18
Well.. I got SAT. Could you double check?

[code]

[2015-02-07 05:20] scungao commented on #18
I guess I used an earlier version.

[2015-02-07 05:23] soonhokong commented on #18
Good to know that something is improved ;-0

[2015-02-07 05:23] #18 closed

[2015-02-07 18:06] scungao opened #19 "(0.00 = 0) isn't true"
look at the bottom of the following formula. If I change the two "true" into "(= 0.00 0)" then the answer becomes unsat.

(set-logic QF_NRA)
(declare-fun v0 () Real)
(declare-fun theta0 () Real)
(declare-fun vhat0 () Real)
(declare-fun thehat0 () Real)
(declare-fun zp_0_0 () Real)
(declare-fun zq_0_0 () Real)
(declare-fun zp_0_1 () Real)
(declare-fun zq_0_1 () Real)
(declare-fun zp_0_2 () Real)
(d

[2015-02-07 18:46] soonhokong commented on #19
Opensmt does some (wrong) simplifications and this error is not related to our theory solver. `--debug`/`--verbose`` do not show anything on the following instances

SAT
[code]

SAT
[code]

UNSAT
[code]

UNSAT
[code]

I agree that it's really bad. Let me double check those instances with dReal2.

[2015-02-07 18:53] soonhokong commented on #19
We have the same problem in dReal2 as well.

[2015-02-09 16:12] soonhokong opened #20 "add cache_contractor"
- wrap a contractor with a cache
 - optionally takes a number of cache size and eviction policy
 - make sure that it works in multi-threaded env

[2015-02-09 16:12] soonhokong opened #21 "add backward capd contractor"

[2015-02-09 16:32] soonhokong opened #22 "test CAPD4"
- absolute / relative tolerance : http://mnich.ii.uj.edu.pl/capd/doc4/odes_timemap.html#odes_nonrig_step_control
 - different orders
 - Taylor method and Hermite-Obreshkov (explicit-implicit) method: http://mnich.ii.uj.edu.pl/capd/doc4/odes_rigorous.html#odesrig_representation

[2015-02-09 16:33] soonhokong opened #23 "flow* contractor"

[2015-02-09 16:39] soonhokong opened #24 "parallel contractor"
instead of killing a thread from outside, have a protocol to send a signal to the thread and to make it terminate itself gracefully. it will take some time to terminate the process because the contractor
itself will call some external routines where we don't have any control.

[2015-02-09 16:40] soonhokong opened #25 "timeout contractor"
use the protocol established for parallel contractor. send 'terminate' signal after some time.

[2015-02-09 16:40] soonhokong opened #26 "implement input/output fields for the existing contractors"

[2015-02-09 16:41] soonhokong commented on #26
and use them in the ICP loop to respect dependencies.

[2015-02-09 18:28] soonhokong opened #27 "wrap realpaver-1.0 as a contractor"
sometime it's the only option (i.e. atan2)

[2015-02-09 20:12] soonhokong opened #28 "add pintegral / connect & extend forall_t for them"

[2015-02-11 22:00] soonhokong opened #29 "implement std::hash for util classes"
so that we can use unordered_set/map

[2015-02-13 17:49] nnarodytska opened #30 "syntax error: benchmarks/simple/bouncing_ball.smt2"
./dReal ../../benchmarks/simple/bouncing_ball.smt2
At line 41: syntax error, unexpected TK_NUM, expecting TK_SYM

[2015-02-13 18:43] nnarodytska opened #31 "more syntax errors"
./dReal ../../benchmarks/simple/bing_20130301.smt2
At line 11: syntax error, unexpected TK_NUM, expecting TK_SYM

./dReal ../../benchmarks/simple/bing_20130227.smt2
At line 5: syntax error, unexpected TK_NUM, expecting TK_SYM

[2015-02-13 19:18] scungao commented on #31
Hi,

Thanks for letting us know -- the benchmark directory contains many outdated files that use syntax in older versions. We'll clean them up soon.

[2015-02-16 15:32] #29 closed

[2015-02-16 18:33] soonhokong commented on #26
partially implemented by 0660afda6ea8fae1dfb30a5a1b877f0be74103f5

[2015-02-16 19:54] #15 closed

[2015-02-25 13:29] soonhokong commented on #6
Closed by ac73dfc862ec73ff38e71b229caf463746c7bf0c and 2b7e0713c40b03bb7ec0211a05bf462a58f58fc8.

See https://github.com/dreal/dreal3/blob/ac73dfc862ec73ff38e71b229caf463746c7bf0c/src/util/contractor.h#L164-L171.

[2015-02-25 13:29] #6 closed

[2015-02-25 20:13] soonhokong opened #32 "use thread pool"
something like https://github.com/progschj/ThreadPool

[2015-02-25 20:27] #30 closed

[2015-02-25 20:33] #31 closed

[2015-03-08 14:55] soonhokong opened #33 "proof generation"

[2015-03-08 14:55] soonhokong opened #34 "option to generate human readable proof"

[2015-03-09 19:29] #3 closed

[2015-03-09 19:30] soonhokong commented on #3
Example: https://github.com/dreal/dreal3/blob/master/src/tests/c_api/example_02.c

[2015-03-09 19:30] soonhokong commented on #3
[code]

[2015-03-09 19:32] #19 closed

[2015-03-10 16:26] scungao opened #35 "seg fault"
(set-logic QF_NRA)
(declare-fun eps () Real)
(declare-fun x1 () Real)
(declare-fun x1p () Real)
(declare-fun x2 () Real)
(declare-fun y () Real)
(assert (<= -10 x1))
(assert (<= x1 10))
(assert (<= -10 x1p))
(assert (<= x1p 10))
(assert (<= -10 x2))
(assert (<= x2 10))
(assert (<= -10 y))
(assert (<= y 10))
(assert (<= -10 eps))
(assert (<= eps 10))
(assert (<= (^ (- x1 x1p) 2) 1))
(assert (

	(ex

[2015-03-10 16:30] soonhokong commented on #35
Debug build shows me this assertion failure:
[code]

which means that the length of arguments of pow(`^`) should be 2.

[2015-03-10 16:45] scungao commented on #35
maybe check that at parsing time

[2015-03-10 16:49] scungao commented on #35
btw the web interface is broken. Switch it to dreal3 too?

[2015-03-10 16:53] scungao opened #36 "check sqrt"
We need sqrt in the language. Right now we parse "safesqrt" which doesn't really work either?

[2015-03-10 17:13] soonhokong commented on #35
Just fixed. It's still dReal2.

[2015-03-10 17:27] #36 closed

[2015-03-10 20:45] #7 closed

[2015-03-11 12:09] #35 closed

[2015-03-11 12:09] soonhokong commented on #35
[code]

[2015-03-11 19:45] dzufferey opened #37 "solver bug (QF_NRA)"
Hi Soonho, Sicun,

dReal returns `unsat` on the following input even though there is a solution.
I using dreal3 compiled from source on the master branch.

[code]

[2015-03-11 20:19] #37 closed

[2015-03-11 20:20] soonhokong commented on #37
@dzufferey, thanks for the report. I just fixed the problem via 0d28894fc66fdd0b82a5edea0a3787e678d1bf7b.

[2015-03-11 20:21] dzufferey commented on #37
@soonhokong Thanks! that was fast.

[2015-03-11 20:23] soonhokong commented on #37
FYI, when I completely remove the solution from the formula, it hangs. When I add either
`(assert (= base.dx_dt 40.0)` or `(assert (= base.q_a_dt 0.0))`, it terminates immediately. Please give some boundaries for variables and let me know if it still takes too much time. I'll take a closer look at them.

Again, thanks for the report. It was very helpful for me as well.

[2015-03-11 21:01] soonhokong opened #38 "performance"
Some changes between 06cbde6 and ef65b34 makes `src/tests/nra/hansen_hockey.smt2` very slow.

[2015-03-12 05:21] soonhokong commented on #38
It turns out that this is caused by using `naive_fixpoint_alg` instead of `worklist_fixpoint_alg`. Good to know that there is a benchmark which shows the difference.

[2015-03-12 05:21] #38 closed

[2015-03-12 14:03] soonhokong opened #39 "add ODE visualization"

[2015-03-12 15:37] soonhokong opened #40 "add support parameter in CAPD4"

[2015-03-12 21:09] soonhokong opened #41 "dReach: respect the ordering of ODE variables in integral constraints"
https://github.com/dreal/dreal/issues/69

[2015-03-13 02:55] #41 closed

[2015-03-13 08:25] #40 closed

[2015-03-13 08:41] soonhokong opened #42 "add simple invariant support (as dReal2)"

[2015-03-13 14:32] soonhokong opened #43 "generate ODE trace"
In dReal2, we generate ODE traces every time an ODE pruning is done. It keeps overwriting and takes the last one in the end. As a result, it's pretty inefficient. A better approach is to call a trace generation function, which should be a part of a ODE pruning operator, at the end of complete check process only if the result is SAT.

Of course, it's related with #39.

[2015-03-13 20:27] soonhokong commented on #33
close via 55685fd697b89f8ef1b47b8dc7cc0793753026c1 and 04c3f2ff282924760f5b2d508d1ee9ba6de5d03a

[2015-03-13 20:27] #33 closed

[2015-03-13 20:27] soonhokong commented on #34
close via aa3035d15a636917966795e78e3ee1cbc85f9b6b

[2015-03-13 20:27] #34 closed

[2015-03-13 20:28] soonhokong commented on #34
@scungao, I've added the same options `--readable_proof` and `--proof` for dReal3. It's not yet usable for the proof checker, but should be useful to figure out what's going on.

[2015-03-13 20:41] scungao commented on #34
Great!

[2015-03-13 20:53] soonhokong opened #44 "generate checkerable proof"
- Need to add problem definition as a header
 - In dReal2, we have `HOLE`s in a proof to plug in sub-proofs. Need to think about a nicer way of doing it.
 - For now, we only generate ICP proofs. Need to figure out OpenSMT's resolution proof generation and how to use it.

[2015-03-15 04:33] scungao opened #45 "concretizers"
We've been working on contractors which manipulate overapproximations. In principle they are most needed for proving UNSAT. To get faster SAT answers we should start using underapproximations. Let's tentatively call them concretizers.

The simplest form of concretization is sampling:

Whenever we start pruning on a box B, we start a new thread that samples points (ideally uniformly) in B. Terminat

[2015-03-16 14:48] soonhokong opened #46 "add parameterized forall contractor"

[2015-03-16 15:52] soonhokong opened #47 "add sound sampling with --sample <num_of_samples> option"

[2015-03-16 15:53] soonhokong commented on #47
closed by 929c044df84492c901dffe552d4111bc97d19691, ad7fa6409984ccae70e5fb2dacb7c0b3fc0817fd, 098da5bd730592a3219646557c3f9cc0f741b0cb

[2015-03-16 15:53] #47 closed

[2015-03-18 13:59] soonhokong opened #48 "add syntax for universal quantifier 'forall'"

[2015-03-19 21:59] dzufferey opened #49 "solver bug: unsat on sat formula"
Hi Soonho, Sicun,

the following file returns unsat, even though it has a solution (set the two variables to 0.0).
[code]

I'm using dreal3 at commit 04c3f2f.
In the more recent version I get a compilation error (unkown 'Json' type).

Thanks,
Damien

[2015-03-19 22:25] soonhokong commented on #49
Thanks for the report. i will fix it asap.

[2015-03-19 23:18] soonhokong commented on #49
@scungao,

This one is not related with our theory solver. The UNSAT comes directly from OpenSMT2 side.

Another interesting thing is changing the order of multiplication changes the result:

1. This is UNSAT

[code]
2. This is SAT

[code]

I'll check what's going on inside of OpenSMT2, probably simplifier has a bug I guess.

[2015-03-19 23:37] scungao commented on #49
I think it has a bug in handling more-than-binary multiplication. Adding parentheses in the first two terms gives correct results.

[2015-03-20 09:08] soonhokong commented on #49
The bug is in https://github.com/dreal/dreal3/blob/285f841ca0a029264ba980cd152719c76e91e6fc/src/opensmt/egraph/EgraphStore.C#L996-L1031

In the simplification part of the code, it assumes that there are only two arguments. If the first two arguments are constant (which is the case in @dzufferey's example), we replace the whole multiplication with the multiplication of the first two arguments while

[2015-03-20 09:37] soonhokong commented on #49
@dzufferey, this one should be fixed as well. Please check out the latest version and try to compile it. If you still have an issue on building dReal3, please let me know.

[2015-03-20 14:17] dzufferey commented on #49
Thanks.

@soonhokong, I still get a compilation error.(I tried a fresh clone of dreal3 repo to be sure I did not mess with the repo.)
here are the relevant parts of the output:
[code]

[2015-03-20 14:35] soonhokong commented on #49
Thanks. Now I see a problem. I can fix it soon.

[2015-03-20 18:27] soonhokong commented on #49
@dzufferey, could you try this one https://github.com/dreal/dreal3/commit/388b1b63c07667a01271ecd7b18ed5643feb93e2?

[2015-03-20 19:15] dzufferey commented on #49
@soonhokong, no luck I still get the same errors.

Thanks,
Damien

[2015-03-20 19:18] soonhokong commented on #49
I see. I will try something else. Thanks for testing it.

On Friday, March 20, 2015, dzufferey <notifications@github.com> wrote:

--
Soonho Kong
soonhok@cs.cmu.edu

[2015-03-21 19:49] scungao commented on #49
I can't compile either.

[2015-03-21 20:01] scungao opened #50 "Solution format"
On different files I got different format on the solution returned:

SAT with the following box:
                       x1 : [-1.000000000000011, -0.9921874999999891];
                       x2 : [-0, 0.00714233029118137]

SAT with the following box:
                        a : [6, 6.000514005329687]
                        b : [117.5234096698175, 117.5284436413953];

The position of the ";" is no

[2015-03-21 21:08] soonhokong commented on #49
please try the latest version that I just committed.

[2015-03-21 21:18] dzufferey commented on #49
it compiles.

thanks.

[2015-03-21 21:21] #49 closed

[2015-03-21 23:24] soonhokong commented on #50
@scungao, could you send me the SMT2 file for the second case? (or paste here, if it's short)

[2015-03-26 19:52] soonhokong opened #51 "shared lib"

[2015-03-26 19:59] soonhokong commented on #51
need `include` and `lib` in `install` target as well

[2015-03-27 17:50] soonhokong commented on #51
In the current version, we're build a library per each subdirectory (for example, `libopensmt_api.a` for `src/opensmt/api`), and link them together to create dReal binary. This approach has been great since it allows us to write CMakeLists.txt in a modular way. However, this is not good when it comes to generate a shared library. We need to first collect all the source files and create a single li

[2015-03-27 21:12] soonhokong commented on #51
We're almost there... To link against dReal, it requires the following extra libraries on which dReal depends:

 - json11
 - glog
 - gflags
 - ibex
 - ClpSolver
 - Clp
 - CoinUtils
 - m
 - prim
 - capd

[2015-03-28 14:30] soonhokong commented on #51
I'm still working on making shared libraries for the following projects:

 - gflags
 - gtest
 - ibex
 - json11
 - prim

[2015-03-28 14:47] soonhokong commented on #51
So far, we've used [Dropbox's Json11][1] library, and I think it's time to drop it and move to [another Json][2] library. Why? The new one is

 - header-only library. no need link.
 - It has MIT license which is compatible with GPL (at least GPL software can use MIT, I'm not sure that the other way around).

[1]: https://github.com/dropbox/json11
[2]: https://github.com/nlohmann/json

[2015-03-28 14:55] scungao commented on #51
Sounds great!

[2015-04-01 04:03] soonhokong commented on #51
For Linux, I've made things working and sent a tar.gz file to @scungao and @zenna. I'm polishing up things so that we can handle 'static' and 'shared' cases.

Another issues is OSX support. It seems that the rules are pretty different from Linux ones, and I couldn't make it there yet.

[2015-04-01 20:14] soonhokong opened #52 "annotate a pruning step with a constraint for --readable_proof"

[2015-04-02 21:12] zenna commented on #51
I can't build the executable nor open the shared lib in Julia.  They are probably caused by the same problem.  When building the executable I get:

[code]

Which seems to be the same problem we had before.

When trying to dlopen the shared lib (through Julia) I get:

[code]

[2015-04-02 21:38] zenna commented on #51
Or perhaps they are very different problems.  Could the latter problem be about shared library dependencies?

http://www.gnu.org/software/libtool/manual/html_node/Inter_002dlibrary-dependencies.html

[2015-04-03 00:53] soonhokong commented on #51
- The first problem is an easy one and I can send you another zip file tonight.
 - The second one looks different from the first one. Is there an easy way for me to try it (i.e. reproduce the problem)? I have some experience on Julia as well.

[2015-04-03 02:27] soonhokong commented on #51
@zenna, could you try the following one?

https://www.dropbox.com/s/81ckebyxzmkzdr4/dreal_c_api_test.tar.gz?dl=0

[2015-04-03 05:22] zenna commented on #51
libdreal is missing from from this

[2015-04-03 05:44] soonhokong commented on #51
@zenna, I'm sorry. I just updated the file. Could you please try again?

https://dl.dropboxusercontent.com/u/10377018/dreal_c_api_test.tar.gz

[2015-04-03 05:54] zenna commented on #51
in julia a first step would be to successfully e run `dlopen("path/to/dreal.so")`

[2015-04-03 06:08] zenna commented on #51
Ok the example builds.  The latter problem remains.

[code]

[2015-04-03 06:10] soonhokong commented on #51
After loading dependent libraries first (libprim, libClp, libibex), I got the following error:

[code]

[2015-04-03 06:11] soonhokong commented on #51
OK. I'll check that the library (`libibex.so`) does contain that symbol in it.

[2015-04-03 11:55] zenna commented on #51
OK! If we can get `dlopen` to work, I can really start building the library once:

[code]

works.

[2015-04-03 15:49] soonhokong commented on #51
@zenna, I figured it out.

According to the [Julia documentation for dlopen](http://julia.readthedocs.org/en/latest/stdlib/libdl/?highlight=dlopen#Libdl.dlopen), it says

Certainly, we do have dependencies between libraries. Please try the following:

[code]

and then

[code]

On my machine (Ubuntu-12.04), I can execute `ccall( (:opensmt_init, "libdreal"), Void, ())` after following the above step

[2015-04-03 21:28] zenna commented on #51
Thanks

I have a working low level wrap of the C-API in Julia.  Next I'll do a more user friendly interface.

[2015-04-03 22:01] soonhokong commented on #51
Excellent!!

On Friday, April 3, 2015, Zenna Tavares <notifications@github.com> wrote:

--
Soonho Kong
soonhok@cs.cmu.edu

[2015-04-08 10:43] soonhokong opened #53 "regression test failure"
- [x] 72 - regression_nra_ode_cardiac_bad_3_0.smt2 (Failed)
 - [x] 73 - regression_nra_ode_cardiac_good_3_0.smt2 (Failed)
 - [x] 74 - regression_nra_ode_cardiac_to1_bad_3_0.smt2 (Failed)
 - [x] 75 - regression_nra_ode_cardiac_to1_good_3_0.smt2 (Failed)
 - [x] 76 - regression_nra_ode_cardiac_to2_bad_3_0.smt2 (Failed)
 - [x] 77 - regression_nra_ode_cardiac_to2_good_3_0.smt2 (Failed)
 - [x] 79 - regr

[2015-04-08 10:53] soonhokong commented on #53
72, 73, 74, 75, 76, 77:
filib: q_exp overflow.
terminate called without an active exception

---

79: segmentation fault

---

81,82: unexpected sat

[2015-04-08 14:38] soonhokong commented on #53
Fixed by https://github.com/dreal-deps/capdDynSys-4.0/commit/616bfa0fd99a606f5cf15cb84684f03c8848caab

[2015-04-08 15:11] soonhokong commented on #50
@scungao, send me an smt2 file plz.

[2015-04-08 15:44] #21 closed

[2015-04-08 15:44] #22 closed

[2015-04-08 15:44] #39 closed

[2015-04-08 15:44] #43 closed

[2015-04-08 15:44] #52 closed

[2015-04-08 15:47] soonhokong commented on #52
@scungao
FYI, take a look at dd32d3596713e0522a65b05f209180edf96d9c77 to change the feature.

[2015-04-08 15:47] soonhokong commented on #43
Fixed by 6573360c8cad1b37d9066a470dc4b10e422228a2

[2015-04-08 15:48] soonhokong commented on #39
Added by 608552781aca44cbdf33f0e3e21c533c8be91390

[2015-04-08 15:49] soonhokong commented on #51
@zenna, I've added an CMake option "BUILD_SHARED_LIB" in https://github.com/dreal/dreal3/commit/5bfed6ed61fd82502343700ca7bd957a7ccb7b97.

When you run `cmake` to build dReal, pass an argument `-DBUILD_SHARED_LIB=ON`. It will create `libdreal.so` and `lib/*.so` libraries.

[2015-04-08 16:55] soonhokong commented on #53
e21f2fe fixes 79.

[2015-04-08 16:59] soonhokong commented on #53
e21f2fe also fixes 81, 82

[2015-04-08 16:59] #53 closed

[2015-04-08 17:03] soonhokong opened #54 "unexpected UNSAT"
file: benchmarks/hybrid_systems/cardiac/new_cardiac_stim_3_0.smt2

[2015-04-08 17:04] soonhokong opened #55 "evaluate unassigned literals and add to deductions if possible"

[2015-04-08 17:09] soonhokong commented on #54
[code]

Somehow, `T` and `m_T` get `nan`.

[2015-04-08 17:24] soonhokong opened #56 "c_api example 1 is broken"
[code]

[2015-04-08 17:32] soonhokong opened #57 "setup homebrew"

[2015-04-08 17:32] soonhokong opened #58 "setup PPA"

[2015-04-08 17:33] soonhokong opened #59 "setup coveralls"

[2015-04-09 09:00] #54 closed

[2015-04-09 19:02] soonhokong opened #60 "check BMC encoding generated by tools/bmc without `--path` option"

[2015-04-10 17:31] scungao opened #61 "build error"
Still have it.
...
Linking CXX static library libdreal.a
[ 95%] Built target dreal
Scanning dependencies of target box
[ 96%] Building CXX object tests/util/CMakeFiles/box.dir/box.cpp.o
make[2]: *** No rule to make target `CMakeFiles/dReal.dir/depend'.  Stop.
make[1]: *** [CMakeFiles/dReal.dir/all] Error 2
make[1]: *** Waiting for unfinished jobs....
Linking CXX executable box
[ 96%] Built target

[2015-04-10 17:41] soonhokong commented on #61
Please run make VERBOSE=1 and send me the whole error traces. I will take a look at them soon.

[2015-04-10 17:52] scungao commented on #61
/usr/local/Cellar/cmake/3.0.2/bin/cmake -H/Users/sicun/Work/dreal3/src
-B/Users/sicun/Work/dreal3/build --check-build-system
CMakeFiles/Makefile.cmake 0
/usr/local/Cellar/cmake/3.0.2/bin/cmake -E cmake_progress_start
/Users/sicun/Work/dreal3/build/CMakeFiles
/Users/sicun/Work/dreal3/build/CMakeFiles/progress.marks
/Applications/Xcode.app/Contents/Developer/usr/bin/make -f
CMakeFiles/Makefile2 all

[2015-04-10 18:34] soonhokong commented on #61
@scungao, what do you have when you run `ls -1 /Users/sicun/Work/dreal3/build /Users/sicun/Work/dreal3/build/lib`?

[2015-04-10 19:04] soonhokong commented on #61
This is caused by using same name 'dreal' for the library and executable. Though we're using two different names 'dreal' (lib) and 'dReal' (bin), Mac filesystem does not distinguish them and causes this problem.

[2015-04-10 19:04] soonhokong commented on #61
I found a workaround http://www.cmake.org/pipermail/cmake/2006-October/011402.html, I'll add it and fix it soon.

[2015-04-10 19:20] #61 closed

[2015-04-14 09:43] soonhokong opened #62 "print constraint in prefix format in proof"

[2015-04-15 16:34] #62 closed

[2015-04-16 06:10] zenna commented on #56
I was just about to open an issue on this topic.  What's the latest?

[2015-04-16 12:00] soonhokong commented on #56
@zenna, I've figured out the problem, and am working on a solution.

[2015-04-16 16:45] soonhokong opened #63 "--multiple_solutions <N>"

[2015-04-16 16:49] soonhokong commented on #63
http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6733111&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6733111

[2015-04-16 17:41] scungao opened #64 "probably time to make dreal3 the default version"
Is it ready?

update the dreal main repo with dreal3, and move the old version to a new repo dreal2

[2015-04-17 13:54] #56 closed

[2015-04-17 13:54] soonhokong commented on #56
@zenna, I believe that 811348c fixes the problem. I'm building a new shared library now. I'll upload it to the release section and let you know when it's there.

[2015-04-17 14:45] soonhokong commented on #64
@scungao, @danbryce, and @pzuliani: let me summarize my thoughts into a note here instead of replying to the email. I think this place is better for the record.

Dependencies
--------------------

In terms of dependencies, we have two changes:

 - **Realpaver -> IBEX**: In dReal3, we dropped the [Realpaver][rp] dependency, and started using [IBEX][ibex]. This change has consequences because we hav

[2015-04-17 14:55] soonhokong opened #65 "return "delta-sat with delta=...." instead of "sat""
by @scungao

[2015-04-17 15:38] scungao commented on #64
Wow...

[2015-04-17 18:07] zenna commented on #51
@soonhokong
1. ibex shared library libibex.so is not being built.

2. I rebuilt dreal from scratch, and used the libibex.so which you sent me before.  Now however I get the following undefined symbol error when dlopening libdreal

[code]

[2015-04-17 20:36] soonhokong commented on #51
@zenna, could you try https://dl.dropboxusercontent.com/u/10377018/dreal_c_api_test.tar.gz ?

[2015-04-19 02:41] zenna commented on #51
Now I get the `std::logic_error` message

[code]

Also I did build with `-DSHAREDLIB=ON` and it built all the libraries except libibex.so

[2015-04-19 21:18] pzuliani commented on #64
that's great @soonhokong ! We use dReal/dReach pretty much in a plug-n-play fashion. For dReal I think we only need --precision; for dReach we use -z and the bounds flags. Anything else @shmarovfedor ?

[2015-04-19 21:27] shmarovfedor commented on #64
No. Those are the only options we are currently using.

[2015-04-19 21:33] pzuliani commented on #64
@soonhokong : why don't just run all the heuristics in parallel, and stop when the fastest finishes? This can be easily done with OpenMP ...

[2015-04-19 21:44] soonhokong commented on #64
1. @pzuliani and @shmarovfedor, great! Now, my main concern is performance. Could you send me SMT2 files that you generated in your projects? I want to make sure that using dReal3 does not slow down your tools.

2. @pzuliani, we're thinking about using multi-threads inside of a solver. Then it's not really free to use multiple-threads outside of the solver (or using OpenMP). Definitely, paralleliz

[2015-04-20 14:54] zenna commented on #51
Any thoughts @soonhokong ?

[2015-04-20 15:06] soonhokong commented on #51
@zenna, I was traveling during the weekend ;-) I'll investigate it soon.

[2015-04-20 16:52] soonhokong commented on #51
@zenna, you're right. 25bd8edc95b7ea17efda6262dc889d9272f27a6a fixes the problem and now it builds `libibex.so`.

[2015-04-20 19:02] soonhokong commented on #51
@zenna, could you try https://dl.dropboxusercontent.com/u/10377018/dreal_shared_lib.tar.gz ? If there is still a problem, I'd like to know how to test dReal.jl.

[2015-04-21 18:02] soonhokong commented on #23
The tool is added at https://github.com/dreal-deps/flowstar

[2015-04-21 18:50] danbryce commented on #64
@soonho Is it possible to use the new json dependency in dreal2?  I couldn’t find any references in the CMakeLists.txt.  I only saw a reference at https://github.com/dreal/dreal3/blob/master/src/contractor/contractor_capd4.cpp#L50-L50

Is it in IBEX?

[2015-04-21 18:56] soonhokong commented on #64
Yes. You can copy https://github.com/dreal/dreal3/blob/master/src/CMakeLists.txt#L306-L318 and paste them into CMakeLists.txt file in dReal2.

[2015-04-21 19:06] #65 closed

[2015-04-21 19:10] soonhokong commented on #63
@nnarodytska, the option `--multiple_soln` is added. I implemented the feature at the ICP-level. Take this example:

[code]

[2015-04-21 19:13] soonhokong commented on #51
@zenna, the dropbox link above is not working anymore. From now on, I'll upload a file with `-shared-lib-tar.gz` at the release page. For example, https://github.com/dreal/dreal3/releases/download/v3.15.04.1/dReal-3.15.04.1-linux-shared-lib.tar.gz is the latest one with shared libraries. Of course, `-DBUILD_SHARED_LIB=ON` should work. If not, please let me know.

[2015-04-21 19:15] zenna commented on #51
@soonho I've been building from scratch, but that's a good idea for
distribution

Also, there is no divide (/) in the c api

On 21 April 2015 at 15:13, Soonho Kong <notifications@github.com> wrote:

[2015-04-21 19:16] soonhokong commented on #51
I will add it.

[2015-04-21 20:01] soonhokong commented on #51
@zenna, I just added `mk_div`. See https://github.com/dreal/dreal3/blob/master/src/tests/c_api/example_04.c#L32 for a usage.

[2015-04-21 20:45] pzuliani commented on #64
@soonhokong Does dReal 3 support ODEs yet? In case you want to try, you may have a look at the models here https://github.com/dreal/probreach/tree/master/model

The most difficult ones are prostate cancer (which you know already) and cars. BTW @danbryce, the cars scenario could be better modelled as a composition of two automata ...

[2015-04-21 20:49] soonhokong commented on #64
Yes.

They are pdrh files. Could you hand me some smt2 files that you get while solving the pdrh files? @shmarovfedor, could you help?

[2015-04-21 21:00] pzuliani commented on #64
Nice - I will try ProbReach then :)

[2015-04-21 21:02] shmarovfedor commented on #64
@soonhokong This is the kind of smt2 files we are generating for the prostate cancer model. This example is quite heavy and I do not know yet what the result should be.

[code]

[2015-04-21 21:25] soonhokong commented on #64
@shmarovfedor and @pzuliani
![screen shot 2015-04-21 at 5 24 53 pm](https://cloud.githubusercontent.com/assets/403281/7262922/626f8962-e84b-11e4-9c55-1ecd576d6c48.png)

[code]

[2015-04-21 21:31] soonhokong commented on #64
@shmarovfedor and @pzuliani, can you confirm that the result is OK? It only takes 12sec on my machine.

One thing that we change in dReal3 is that the order of variables in an integral expression matters. Let me take an exmaple here. The SMT2 formula that @shmarovfedor wrote defined flow_1 as follows:

[code]

Here the variable ordering is `alphay`, `betax`, `t`, `v`, `x`, `y`, and `z`. In dReal3,

[2015-04-21 21:34] soonhokong commented on #64
It would be great if I can have more benchmarks. My main concern is that we might have an example which works really nice with dReal2, but not with dReal3. If there is any, I want to work on it before making the first official release of dReal3.

[2015-04-21 21:48] soonhokong opened #66 "--visualize fails with an exception if δ-sat result is not able to be checked by ODE solver."

[2015-04-21 21:49] shmarovfedor commented on #64
Wow. That is very impressive. It is much faster than dReal2 (which is still running). I guess I should start using it now. Also I will get some more benchmarks later.

Did not know that ODE order matters. @soonhokong Thanks for clarification

[2015-04-21 21:51] soonhokong commented on #64
@shmarovfedor, great! Just let me know if you need anything for the migration.

[2015-04-21 22:30] soonhokong opened #67 "Support 64-bit integer in C API"
requested by @zenna

[2015-04-21 22:34] soonhokong opened #68 "Drop GLOG/GFLAGs dependencies for shared libraries"
To simplify dependencies. Related with https://github.com/dreal/dreal.jl and @zenna.

[2015-04-22 01:22] scungao commented on #64
Looking fantastic!

On Tue, Apr 21, 2015 at 5:51 PM, Soonho Kong <notifications@github.com>
wrote:

[2015-04-22 10:58] shmarovfedor commented on #64
@soonhokong This is kind of funny but the model above with wrong ODE ordering works much faster in dReal3 than the one with correct ordering.

[2015-04-22 11:47] soonhokong commented on #64
@shmarovfedor: Yes, that is the case. What happen is that dReal3 is solving the problem with a different initial condition (which is wrong). Then, the ode integration quickly diverges and keeps failing with an exception. It means that the ODE pruning is not working at all and the solving process merely relies on branching. After a series of branching, it terminates just because the current box is

[2015-04-22 11:50] soonhokong commented on #64
@shmarovfedor, just as a reminder, the current dReal3 doesn't use mode invariants in pruning. As a result, it could give you a wrong result (returns delta-SAT while it should be UNSAT due to a violation of mode invariant). Also, it could be way slower because mode invariant gives some extra pruning power in general. I do have both of cases in the benchmarks and working on adding support for mode i

[2015-04-22 12:24] #67 closed

[2015-04-22 12:26] shmarovfedor commented on #64
Oh. I see. Thanks @soonhokong

[2015-04-22 14:03] scungao commented on #64
When it diverges, the ODE solver does not provide a "well-defined" pruning operator, which makes the procedure not delta-complete. I think we should return "ODE pruning fails" in those cases instead of delta-sat.

[2015-04-22 14:06] soonhokong opened #69 "handle failure in ODE solving"
@scungao wrote at https://github.com/dreal/dreal3/issues/64#issuecomment-95190217:

[2015-04-22 14:32] danbryce commented on #64
I think I'm ready to merge the changes for networks of automata and associated heuristics.  Is there a git way to do it smoothly, or should I use cut/paste?

[2015-04-22 14:36] soonhokong commented on #64
@danbryce, I would try either [git-rebase](https://www.atlassian.com/git/tutorials/rewriting-history) or [git-cherry-pick](http://think-like-a-git.net/sections/rebase-from-the-ground-up/cherry-picking-explained.html).

[2015-04-22 14:40] danbryce commented on #64
I didn’t realize there was a shared history.  I’ll give it a shot.

[2015-04-22 21:53] soonhokong commented on #68
Both of GLOG/GFLAGS have Google License. I think for safety of the dReal project, it's better to switch to other libraries which are open-source. For now, I'm considering the following options:

 - GLOG => https://github.com/easylogging/easyloggingpp (MIT license)
 - GFLAGS => http://ezoptionparser.sourceforge.net (MIT license)

[2015-04-26 14:36] soonhokong opened #70 "support binary min/max"

[2015-04-26 14:36] soonhokong commented on #70
@kquine, @scungao here.

[2015-04-26 15:08] soonhokong commented on #70
@kquine, it's there. I added two simple test cases:

 - https://github.com/dreal/dreal3/blob/master/src/tests/nra/min_01.smt2
 - https://github.com/dreal/dreal3/blob/master/src/tests/nra/max_01.smt2

Please feel free to add more testcases.

[2015-04-26 15:08] #70 closed

[2015-04-26 15:12] kquine commented on #70
Great! I will try a few more test cases that are related to the airplane
model.

Kyungmin

On Sun, Apr 26, 2015 at 11:08 AM, Soonho Kong <notifications@github.com>
wrote:

--
Kyungmin Bae, Postdoctoral Fellow
School of Computer Science
Carnegie Mellon University

[2015-04-26 17:43] kquine opened #71 "tan not supported in ODE"
the tangent function cannot be used in the ODE part. Here is a simple example:

[code]

The output is as follows (while the expected one is unsat, given by using sin(d)/cos(d))

[code]

[2015-04-26 18:14] kquine opened #72 "Different results from dReal2 and dReal3"
For the following same example, dReal2 (ver. 2.15.04) and dReal3 (3.15.04.2) give the different results. dReal2 returns sat, while dReal3 returns unsat. The result should be sat. With the debug option, there is Possible division by zero for dReal3, but not for dReal2. The dReach command is `../bin/dReach -k 1 -l 1 test-air.drh`, where the file name is test-air.drh.

[code]

[2015-04-26 18:18] soonhokong commented on #71
CAPD does not support tan directly because it's not continuous at (n * pi + 1/2 pi). One solution is to define a macro for tan(x), such as tan(x) = sin(x) / cos(x).

[2015-04-26 18:19] soonhokong commented on #71
Of course, we can do the translation inside of dReal3, when we compile a CAPD problem.

[2015-04-26 19:12] scungao commented on #70
Oh this is nice. Is there native support for min and max in IBEX?

[2015-04-26 19:22] soonhokong commented on #70
Yes.

[2015-04-27 01:21] kquine opened #73 "Some problems in ODE results"
Here is another example with linear ODEs, and there are problems in the result. I guess that it is cause by different variable orderings of define-ODE and integral. The drh file is as follows:

[code]

Below is the result given by `/dReach -k 5 -l 5 test-air-single.drh`. The variable rAIL changes and xRDR does not change, though `d/dt[rAIL] = 0`, `d/dt[xRDR] = rRDR` and `rRDR=0.1`:

[code]

In the

[2015-04-27 13:07] soonhokong commented on #73
I will take a look at this one this morning.

dReach in dReal3 was changed as well to work with the new variable ordering policy that we have in dReal3. If you have `.smt2` file generated from dReach in dReal2, highly likely it will not work with dReach in dReal3.

When a variable is constant in a flow, that is `d/dt[variable] = 0`, we won't show it in the visualization. That explain why rAIL and

[2015-04-27 13:42] kquine commented on #73
I DID use dReach in dReal3. FYI, the bug seems to be sensitive to variable
names, particularly
those beginning with the letter 'r'. I have changed every r-variable to
another name, and then
everything works correctly.

On Mon, Apr 27, 2015 at 9:07 AM, Soonho Kong <notifications@github.com>
wrote:

--
Kyungmin Bae, Postdoctoral Fellow
School of Computer Science
Carnegie Mellon University

[2015-04-27 15:17] soonhokong commented on #73
@kquine, you're right. I'm fixing the problem.

[2015-04-27 15:30] soonhokong commented on #73
Fixed by 4d791207e02bc86ddae53272db86d7212f2141f4. The problem was that we sorted the ode variables after adding the `_0`, `_t` suffixes, which can change the ordering.

@kquine, please check out the latest version and recompile dReach by running `make` at `dreal/tools` directory.

[2015-04-27 15:30] #73 closed

[2015-04-27 15:36] soonhokong commented on #72
I think this one comes from the same problem with #73. Now, dReal3 gives delta-SAT with the following visualization:

![screen shot 2015-04-27 at 11 32 40 am](https://cloud.githubusercontent.com/assets/403281/7351119/41019024-ecd1-11e4-9af0-3c2afa83647a.png)

I got the following visualization from dReal2:
![screen shot 2015-04-27 at 11 33 07 am](https://cloud.githubusercontent.com/assets/403281/73

[2015-04-27 15:50] soonhokong opened #74 "performance difference between commit ead6f1b02623 and commit 5b23325408e1"
- performance difference between commit ead6f1b02623 and commit 5b23325408e1
 - reported by @pzuliani

[code]

[2015-04-27 16:57] kquine commented on #72
Yes, the problem seems to be also caused by the same bug.

On Mon, Apr 27, 2015 at 11:36 AM, Soonho Kong <notifications@github.com>
wrote:

--
Kyungmin Bae, Postdoctoral Fellow
School of Computer Science
Carnegie Mellon University

[2015-04-27 19:41] kquine opened #76 "Strange results in dReal3"
Here is an example that shows some strange results. First the following file returns sat for `k=6`with the command `dReach -k 6 -l 6 test-sat.drh`:

[code]

However, the following two files returns unsat with the same `dReach` options. Only difference between the above and the next is ordering of terms in the jump condition (`(gRDR' = gRDR)` is written after the `or` clause).

[code]

Only differe

[2015-04-27 19:48] soonhokong commented on #76
Thank you @kquine! I'm investigating this bug.

[2015-04-27 20:00] nnarodytska opened #77 "IBEX assertion failure"
[code]

[2015-04-27 20:34] soonhokong commented on #77
Hey @nnarodytska, I finally reproduce the problem on my machine. I'll fix it soon.

[2015-04-28 16:31] soonhokong commented on #59
Reference: http://gronlier.fr/blog/2015/01/adding-code-coverage-to-your-c-project/

[2015-04-28 16:40] soonhokong commented on #77
3f37f79d85dca8782f83ea434098e6d8b381c803 fixes the problem. It's not ideal yet. I'll refactor this later.

[2015-04-28 16:40] #77 closed

[2015-04-28 16:50] soonhokong opened #78 "clang does not support FENV_ACCESS pragma"
https://llvm.org/bugs/show_bug.cgi?id=8100

[2015-04-28 18:26] kquine opened #79 "Bounded uncontrollable variables in dReal3"
It is sometimes useful to allow (bounded) uncontrollable variables, such as (continuously provided) input from another component. For example, consider a thermostat system with the flow:

[code]

where the variable xO denotes the outside temperature that can have any value in bound [a,b] during each mode. Currently this feature is not explicitly supported in dReal3, but would be useful for many pu

[2015-04-28 21:56] soonhokong opened #81 "wrong rounding mode is used when print enode"
Reported by @scungao and @dzufferey:

[code]

In the proof, it has `1.20001`.

[code]

[2015-04-28 21:57] #81 closed

[2015-04-28 22:30] soonhokong commented on #78
gcc either? https://gcc.gnu.org/bugzilla/show_bug.cgi?id=34678#c31

[2015-04-29 00:10] dzufferey opened #82 "Segmentation fault"
This seems to be related to today's earlier modification.

when trying this example:
[code]

I got a segfault. Here is the valgrind trace:
[code]

[2015-04-29 00:14] soonhokong commented on #82
Thanks for the report. I will fix it after dinner.

[2015-04-29 00:50] soonhokong commented on #82
@dzufferey, I think the error is at the line:

[code]

where `>` has only one argument: `(+ (^ x 2) (^ y 2) 1.2)`.

[2015-04-29 00:52] soonhokong commented on #82
I'll make sure that it will generate the right error message at the parsing time.

[2015-04-29 01:24] dzufferey commented on #82
Thanks.

[2015-04-29 01:50] soonhokong opened #83 "check operator arity in parsing time"
Related issue: https://github.com/dreal/dreal3/issues/82

[2015-04-29 01:50] #82 closed

[2015-04-29 11:01] soonhokong commented on #83
better to have two types of assertion, one ignored in a release build, another still activated in a release build. Some references:

 - http://www.codeproject.com/Questions/583274/HowpluscanplusIplusgetplusaplusassert-pluslikeplus
 - https://akrzemi1.wordpress.com/2011/04/06/assertions/

[2015-04-29 12:34] soonhokong commented on #79
@kquine, here let me summarize what we discussed yesterday, especially what needs to be done in the solver to support the feature. @scungao, we're happy to hear your opinion on this as well.

Let me take the above example, where `xO` represents the input from another component. To be concrete, let's say that all we know about this input channel is that its value in a range `[0, 10]`. In computing

[2015-04-29 18:14] scungao commented on #79
I probably asked about this before, but does CAPD allow interval parameters? Namely, something like dx/dt = [1,2]*x.

[2015-04-29 18:19] soonhokong commented on #79
You can introduce a new variable for `[1, 2]`, let's call it `p = [1, 2]`. Then you can define an ODE as `d[x]/dt = p * x`. This is possible.

[2015-04-29 18:20] soonhokong commented on #79
and p is treated as a parameter (`d[p]/dt = 0`).

[2015-04-29 18:40] scungao commented on #79
I know. But it's something different; p itself may follow some complex dynamics. But in terms of interval bounds they may be equivalent and that needs a proof. Anyway I assume it doesn't take interval parameters then?

[2015-04-29 18:48] soonhokong commented on #79
I'm afraid that we're using the same terminology for the different things. Let me elaborate what we have in CAPD4. In CAPD4, we have **ODE variables** and **ODE parameters**. The only difference between them is that you can defines their dynamics for ODE variables while ODE parameters are assumed to be constants (`d/dt[p] = 0`). Both of ODE variables and parameters **can** have interval initial va

[2015-04-29 19:03] scungao commented on #79
What I wonder is whether syntactically you can write interval arithmetic in the ODEs, like instead of dx/dt = 2*x, write dx/dt = [1,2]*x. The benefit is that way you don't need to name the parameter at all and no need to control it in ICP.

[2015-04-29 19:26] soonhokong commented on #79
I don't think it's possible. Actually, CAPD people recommended us to use a variable even for a constant. So I don't think they will implement that in the future...

We can introduce the auxiliary parameter variables between ICP and CAPD, so that it won't affect ICP. That's one thing we can do.

[2015-04-29 22:53] soonhokong opened #84 "enumerating paths in dReach"
Sometimes, dReach generates errors in parsing the result of `bmc_main.native --pathgen` which is in a form of

[code]

I think it's related with `$IFS`([internal field separator](http://tldp.org/LDP/abs/html/internalvariables.html)) variable. A solution is to write down the paths into a file and read the file line by line. FYI, for now, we save the paths into a shell variable and use `for` loop to

[2015-04-29 22:57] soonhokong opened #85 "non-determinism in solving"
I found that solving `tests/nra/hansen_hockey.smt2` shows some non-deterministic behaviors.

Running `dReal src/tests/nra/hansen_hockey.smt2 --stat` multiple times give different stat information from time to time:

[code]

[2015-04-30 08:40] pzuliani commented on #85
I'm using dReal version 3.15.04.2 (commit fae153a4995e) and it seems I cannot get different stats than these ..

[code]

[2015-04-30 09:54] soonhokong commented on #85
@pzuliani, thanks for checking this. On my Linux box, I also have a consistent number. But still a release build and a debug build give different numbers, which is strange:

DEBUG (Ubuntu-12.04 / gcc-4.9)
[code]

RELEASE (Ubuntu-12.04 / gcc-4.9)
[code]

Also, using clang++-3.4.2 instead of g++-4.9.2 gives a different number:

RELEASE (Ubuntu-12.04 / clang++-3.4.2)
[code]

[2015-04-30 11:02] pzuliani commented on #85
On my Ubuntu 14.04.2 the stats of the release build are the same with either clang++3.5 or g++4.9 ...

[2015-04-30 12:31] soonhokong commented on #85
OK.. I'll get some vitamin C pills and a cup of coffee and do sanity check for myself first...

[2015-05-01 10:01] soonhokong commented on #85
@nnarodytska and I were investigating this issue yesterday briefly. We observed that it came from SAT-level. Here are trace of two runs of `dReal src/tests/hansen_hockey.smt2` (to get more debugging output, I've changed verbosity level at [SMTConfig.C](https://github.com/dreal/dreal3/blob/master/src/opensmt/smtsolvers/SMTConfig.C#L66):

Run 1
[code]

Run 2
[code]

@nnarodytska, could you check wha

[2015-05-01 13:23] scungao commented on #85
There are numerical weights that the solver uses to prioritize certain
decisions. Maybe some tricky floating point behavior is involved because of
that?

On Fri, May 1, 2015 at 6:01 AM, Soonho Kong <notifications@github.com>
wrote:

[2015-05-01 14:20] soonhokong opened #86 "bug in worklist fixpoint alg"
There is still a case where [worklist fixpoint alg](https://github.com/dreal/dreal3/blob/master/src/contractor/contractor_basic.cpp#L216-L265) terminates prematurely, that is, it stops when it should continue.

I found this while working on adding `--theory_propagation` option. When the option is on, we do the followings:

 1. Theory check with asserted literals -- `l_1`, ..., `l_n`
 2. If the res

[2015-05-01 15:10] nnarodytska commented on #85
Hi Soonho,

I was not able to reproduce the issue so far. I have the same stats in all runs.

nina

[2015-05-01 15:12] soonhokong commented on #85
@nnarodytska, could you compare the numbers from a debug build and a release build?

[2015-05-01 15:18] soonhokong opened #87 "add testcases for --short_sat option"
@nnarodytska, I'll add it in an hour and push to the blessed repo.

[2015-05-01 15:28] nnarodytska commented on #85
@soonhokong The numbers are the same in debug and release modes. I am working with your lastest version from: git@github.com:soonhokong/dreal3

[2015-05-01 15:29] soonhokong commented on #85
I see. Thank you for checking it. Let me close this one for now.

[2015-05-01 15:29] #85 closed

[2015-05-01 15:44] nnarodytska commented on #86
@soonhokong

1. I think it is important to verify that step 5 holds.  We should not get additional propagation for the same set of constraints after a fixpoint was reached. This is one of the invariants of the algorithm. Do you agree?

2. We will call Boolean propagation at the next step (after we return from checkTheory).

Could you please let me know a benchmark name where worklist fixpoint alg

[2015-05-01 17:25] soonhokong commented on #85
@nnarodytska, problem solved. It's all because of nra_solver. :-(

[2015-05-01 17:27] soonhokong commented on #85
When we generate an explanation (which is a vector of Enode). I use STL set to make sure that there is a single occurrence of an element in the vector. By default, STL set uses native `<` operator to order the elements. In this case, the element's type is `Enode *`. So it uses pointer address to give an order between two elements, which can change over runs.

[2015-05-01 17:28] scungao commented on #85
Good to know..

On Fri, May 1, 2015 at 1:27 PM, Soonho Kong <notifications@github.com>
wrote:

[2015-05-01 17:35] nnarodytska commented on #85
Cool, a learnt clause was our suspect :). Is it deterministic now?

[2015-05-01 17:41] nnarodytska commented on #85
@soonhokong

Could you please push the last fix (that fixes the non-deterministic behaviour)? I was running dReal with valgrind. I get different stats with and without valgrind in the debug mode.

[2015-05-01 17:41] soonhokong commented on #85
@nnarodytska, I'm fixing it now. I'll ping you when I'm done.

[2015-05-01 17:42] nnarodytska commented on #85
Thanks!

[2015-05-01 17:56] #87 closed

[2015-05-01 17:57] soonhokong commented on #85
@nnarodytska, it's there.

[2015-05-01 17:59] soonhokong commented on #55
Added by 9e7d05a9a5a4ba09a1511c3ca293d4e6cae3c655 and 058f2b395364168e452bb43fab5403c8d59164f2. Note that the name of option is `--theory_propagation`.

[2015-05-01 17:59] #55 closed

[2015-05-01 18:03] soonhokong commented on #63
@nnarodytska, could you implement this in SAT level? As a first step, let's allow it to enumerate a solution more than once. We will implement the communication channel to exchange information, which can be used to eliminate duplications.

I've added two options:

 - config.nra_multiple_soln: By default, this is 1. If a user uses `--multiple_soln N`, it will be set to `N`. It will not be changed d

[2015-05-01 18:13] nnarodytska commented on #85
Thanks, it works for me. I get the same stats on the hansen_hockey.smt2 benchmark in different modes.

[2015-05-01 18:14] soonhokong commented on #85
Great!

[2015-05-01 18:17] nnarodytska commented on #87
@soonhokong Should I just run "ctest" to test short_sat?

[2015-05-02 05:13] soonhokong opened #88 "FwdBwd ibex contractor sometimes do not throw EmptyBoxException"
I think this is an upstream issue. I just opened an issue at https://github.com/ibex-team/ibex-lib/issues/130.

[2015-05-02 12:48] #84 closed

[2015-05-02 12:54] soonhokong commented on #64
Let me close this one. See [First Official Release](https://github.com/dreal/dreal3/milestones/First%20official%20release) to check the current items and their progresses.

[2015-05-02 12:54] #64 closed

[2015-05-02 13:14] soonhokong commented on #88
IBEX will get rid of EmptyBoxException soon. I'll fix our code base not to rely on the exception but checking the output interval vector, and close this one. Later, once IBEX team finishes removing EmptyBoxException, we need to do another cleanup to remove try-catch blocks.

[2015-05-02 13:15] soonhokong opened #89 "Add kyungmin's network benchmarks to nra_ode test directory"

[2015-05-02 13:16] soonhokong opened #90 "Move unsupported test cases from nra_ode to nra_ode_not_supported"

[2015-05-02 15:05] soonhokong commented on #87
I already talked to Nina about it. Just for the record, I mentioned `-L` (label) and `-R` (test name) options in ctest. Here is a reference: http://www.cmake.org/cmake/help/v3.0/manual/ctest.1.html.

[2015-05-02 15:10] scungao commented on #64
Github should introduce a "like" button.

On Sat, May 2, 2015 at 8:54 AM, Soonho Kong <notifications@github.com>
wrote:

[2015-05-02 15:11] soonhokong commented on #64
People do :+1:(`:+1: `).

[2015-05-02 15:16] scungao commented on #64
on the "milestone"

On Sat, May 2, 2015 at 11:11 AM, Soonho Kong <notifications@github.com>
wrote:

[2015-05-02 15:16] soonhokong commented on #64
haha...

[2015-05-02 15:19] soonhokong opened #91 "Add tests for dReach"

[2015-05-02 15:25] soonhokong opened #92 "produce warning (or error) for unsupported form of mode invariant"

[2015-05-03 14:50] soonhokong commented on #90
Done by 8823587cd785f21c12923b449d9261410cf4025e.

[2015-05-03 14:50] #90 closed

[2015-05-03 15:13] #71 closed

[2015-05-04 01:54] soonhokong commented on #86
@nnarodytska, let's keep it as we discussed.

It's our favorite example, `hansen_hockey.smt2`. You can test it by changing https://github.com/dreal/dreal3/blob/master/src/contractor/contractor_basic.cpp#L180-L186.

[2015-05-04 13:44] soonhokong commented on #88
IBEX-team removed `EmptyBoxException`. We need a follow-up.

[2015-05-04 15:25] soonhokong opened #93 "provide an explanation for delta-SAT case"
There can be many use cases for this one. For now, @nnarodytska and I are thinking about using it to enhance theory propagation.

[2015-05-04 15:27] #88 closed

[2015-05-04 17:28] soonhokong commented on #78
Both of GCC and Clang do not support `FENV_ACCESS` yet. At least GCC has an option `frounding-math` which disable certain transformations and optimization (but no guarantee...):

The default is -fno-rounding-math.

Clang is even worse that it does not evn provide an equivalent option yet.

[2015-05-04 17:37] #78 closed

[2015-05-04 17:38] soonhokong commented on #78
I changed CMakeLists.txt to make sure that we're using both of `-frounding-math` and `-ffloat-store` with gcc. We have no option but disabling the two options if a user is using clang. I added a warning for that.

[2015-05-04 17:39] soonhokong commented on #78
One implication is a static binary for OS X. So far, we've used clang to build it. I'm not sure that it's possible to make it using homebrew's gcc. I can take a look at but this one should has a lower priority.

[2015-05-04 17:40] soonhokong opened #94 "generate static binary for OSX using gcc"
See https://github.com/dreal/dreal3/issues/78#issuecomment-98791955

[2015-05-04 18:33] soonhokong opened #96 "implement short_sat option"

[2015-05-04 18:35] #96 closed

[2015-05-06 05:39] soonhokong opened #99 "add testcases for --multiple_soln"

[2015-05-06 20:13] zenna opened #100 "C-API Enhancements"
@soonhokong @scungao : Here is a very rough outline of the enhancements I would like for the API.  The following is psuedo-code to describe my intent, but there may be other ways to do it better.  Either way, let's discuss.

- I need access to the CNF structure (and possibly the mapping between the equations and literals) in a way that will allow me to use an external solver to get a model
- I nee

[2015-05-06 20:46] scungao commented on #100
Ok I guess this is gonna require some work. :)

Maybe at this point a good thing to do is to open up the different
components in dReal anyway, so that others can easily do their own thing on
top of it. For instance I wanna add some contractors that implement various
optimization algorithms.

A good example for writing about stuff like this is the minisat paper

http://www.decision-procedures.org/h

[2015-05-07 09:59] soonhokong opened #101 "make printing model optional?"
Jeff@SEI asked me whether it's possible to suppress printing a model for a delta-sat case. @scungao, what do you think? I think it's better to make it optional and only show it when `--print-model` is on.

[2015-05-07 14:05] soonhokong commented on #100
I agree that it requires some work.

This is already possible by using `opensmt_push` and `opensmt_pop`. Anything asserted after `opensmt_push` will be poped with `opensmt_pop` call. Here is [an example](https://github.com/dreal/dreal3/blob/master/src/tests/c_api/example_03.c) using them.

This one is not there yet, but relatively easier to implement. We need to expose `box` data structure that we

[2015-05-07 14:21] soonhokong commented on #100
The other items (1,2,5) look more complicated.

Simply put, dReal is an instantiation of the DPLL<T> framework which consists of a SAT solver and theory solvers. So far, we've only exposed the SMT-level functions such as `assert`/`push`/`pop`/`check` to users via the current C APIs. Now, we're talking about exposing the internal functions/states of the SAT solver and theory solvers in dReal3. Simp

[2015-05-07 14:23] soonhokong commented on #100
The pseudo code is certainly useful. But can you share with us the big picture that you have where dReal is part of it? I think it helps a lot to clarify what we need to add.

[2015-05-07 14:57] soonhokong opened #102 "make doesn't update external packages"

[2015-05-07 15:09] scungao commented on #100
@zenna is using dReal to do probabilistic reasoning, and these functions
are indeed what he needs.

Zenna, are you familiar with C++? Perhaps you'll eventually need to start
looking at the dReal code. We could give you walk through of the code base
at some point. Soonho, let's start writing something for that so that
others can look at too.

On Thu, May 7, 2015 at 10:23 AM, Soonho Kong <notificati

[2015-05-07 15:30] soonhokong commented on #51
Let me close this one.

[2015-05-07 15:30] #51 closed

[2015-05-07 16:58] soonhokong commented on #102
Sent an email to the cmake mailing-list: http://thread.gmane.org/gmane.comp.programming.tools.cmake.user

[2015-05-07 17:47] #72 closed

[2015-05-07 17:50] zenna commented on #100
Thanks for your comments.  @soonhokong, @scungao is right in that I am doing probabilistic inference.

At a high level, I will have a model with variables `x1,x2,..,xn`, but there is some core subset of these variables (e.g. `x1` and `x2`) such that values of all the other variables are fully determined by (i.e. functions of) the core variables. If `X` is the projection of the satisfiable region o

[2015-05-07 18:37] scungao opened #103 "btw how's performance on the Flyspeck benchmarks?"
Have we tested again?

[2015-05-07 18:45] soonhokong commented on #103
Just triggered. I'll send you the result soon. Shouldn't take more than 3 days (5m timeout * 1000 instances).

[2015-05-07 18:47] scungao opened #104 "parallelized contraction"
still on the table? :)

[2015-05-07 18:48] soonhokong commented on #104
Yes. https://github.com/dreal/dreal3/issues/24

[2015-05-07 18:48] #104 closed

[2015-05-07 22:12] soonhokong commented on #103
So far IBEX partially implemented atan2 support, lacking derivative and gradient of atan2. As a result, we can't use `--polytope` option and we only show UNSAT for 30% of instances so far without using the option.

I just implemented them in https://github.com/dreal-deps/ibex-lib/commits/feat-exprdiff-atan2. I will test it and create a pull-request on the blessed repository of IBEX.

[2015-05-07 22:21] soonhokong commented on #103
Pull request is created: https://github.com/ibex-team/ibex-lib/pull/133

[2015-05-07 23:57] soonhokong commented on #103
Found another bug, reported it to IBEX team: https://github.com/ibex-team/ibex-lib/issues/134

[2015-05-08 15:38] soonhokong opened #105 "--theory_propagation and --short_sat"
It seems that something is wrong in `--theory_propagation` option and it interferes with `--short_sat` option. @nnarodytska, do you have any clue?

Test: [tests/nra/osmosis-hockey-ML4.smt2](https://github.com/dreal/dreal3/blob/master/src/tests/nra/osmosis-hockey-ML4.smt2)

## Theory Propagation = OFF / Short SAT = OFF
[code]

## Theory Propagation = OFF / Short SAT = ON
[code]

## Theory Propagati

[2015-05-08 16:49] soonhokong opened #106 "network examples have incorrect variable ordering"
Commit: e29a73005a97f4a72667257f8cea32f4607fd923
Example: https://github.com/dreal/dreal3/blob/master/src/tests/nra_ode/airplane-single-nl-sat_5.smt2

[2015-05-08 17:06] nnarodytska commented on #105
I will have a look now.

[2015-05-08 17:07] soonhokong commented on #105
Thank you.

I have a meeting with Ed from 1:30pm ~ 2:00pm today. I'll drop by the lab after that, just to check.

[2015-05-08 17:08] soonhokong commented on #106
@kquine is working on this one.

[2015-05-08 17:08] nnarodytska commented on #105
Yep, see you soon!

[2015-05-08 18:20] nnarodytska opened #107 "add avg.time for complete/incomplete checks"

[2015-05-08 18:58] soonhokong commented on #106
Fixed by 8ca5d4aedb98a245a3c37a1ab650bccb87a352a8

[2015-05-08 18:58] #106 closed

[2015-05-08 21:07] zenna opened #109 "The C API for pow has insufficient #arguments"
`pow` is a binary function, but:

[code]

[2015-05-08 21:35] #109 closed

[2015-05-08 21:36] soonhokong commented on #109
It's interesting that the definition actually took two arguments while its definition took one arg. Moreover, it didn't generate any compiler warning/errors so far..

[2015-05-08 21:36] soonhokong commented on #109
Anyway, it should be fixed now.

[2015-05-09 00:52] zenna commented on #101
Yes it should be optional!

[2015-05-10 22:07] soonhokong commented on #101
I can make this change this evening. What about the option name for this? Note that we already have `--model` option which outputs a delta-sat model to `.smt2.model` file.

[2015-05-10 22:25] scungao commented on #101
Perhaps just let --model be both printing it and saving to the file.

On Sun, May 10, 2015 at 6:07 PM, Soonho Kong <notifications@github.com>
wrote:

[2015-05-11 05:41] soonhokong commented on #89
Added by e29a73005a97f4a72667257f8cea32f4607fd923 and 8ca5d4aedb98a245a3c37a1ab650bccb87a352a8.

[2015-05-11 05:41] #89 closed

[2015-05-11 06:47] soonhokong commented on #66
This should be resolved by #69.

[2015-05-11 06:47] #66 closed

[2015-05-11 07:14] #83 closed

[2015-05-11 07:14] #101 closed

[2015-05-11 07:16] soonhokong commented on #50
Please reopen it when you see a similar problem again.

[2015-05-11 07:16] #50 closed

[2015-05-11 07:33] soonhokong opened #110 "pintegral/connect benchmarks(smt2 files)"
@kquine, could you make a pull-request with the benchmark that we have?

[2015-05-11 14:27] soonhokong commented on #110
Done by a9bc823cf1cc48b3bbae29ab767ca3d95328d0bc.

[2015-05-11 14:27] #110 closed

[2015-05-11 20:00] kquine opened #112 "ODE bugs"
I am using the version `dReal-3.15.05.01-darwin`.
The following gives `unsat`, but should be `sat`.

[code]

If we slightly change the bound of `time_0`, then it returns `sat`.

[code]

In addition, the following gives a CAPD exception:

[code]

This gives the following exception:

[code]

[2015-05-11 20:18] soonhokong commented on #112
@kquine, thanks! I'll investigate it.

[2015-05-11 21:11] #112 closed

[2015-05-11 21:14] soonhokong commented on #112
Thanks again for the report. The first problem is fixed by 0583f16. The third example does not have proper bounds and pass an interval with infinity and causes a problem. I changed it to the following and it fixed the problem.

[code]

[2015-05-11 21:15] soonhokong commented on #112
Of course, it is still a problem because CAPD generates the exception for the case. I'll ask CAPD authors about this. At least, we can catch the exception from CAPD and do branching and proceed.

[2015-05-12 01:07] kquine opened #113 "Binary min/max in dReach"
The min and max functions are available in `dReal`, but not supported by the `dReach` parser yet.

[2015-05-12 09:15] #113 closed

[2015-05-12 09:16] soonhokong commented on #113
@kquine, now, `min`/`max` are available in jump, guard, init, and goal. It's still not available in the right-hand-side of ODEs. Do you need that as well?

[2015-05-12 12:20] kquine commented on #113
No, Min/max are currently not needed for ODEs (and I guess that they are
not directly supported by CAPD).
Thank you!

On Tue, May 12, 2015 at 5:16 AM, Soonho Kong <notifications@github.com>
wrote:

--
Kyungmin Bae, Postdoctoral Fellow
School of Computer Science
Carnegie Mellon University

[2015-05-12 12:23] soonhokong commented on #113
I see. Then I will keep this issue closed.

Yes, we need to check whether CAPD supports it or not.

--

Best,
Soonho

[2015-05-12 15:38] kquine opened #114 "Some bugs about value bounds"
The following example is satisfiable for `k=0`.

[code]

However, if I remove `(phi = 0)` from the initial condition (i.e., allowing a wider bound for `phi`), then it becomes `unsat`, or terminates without output (the generated `output` file is empty).

[code]

[2015-05-12 15:56] soonhokong commented on #114
We have a segmentation fault for the second example, and dReach interprets it as an `UNSAT`. I'll fix the segmentation fault first, and fix dReach to handle such an exception from dReal. I've added the example as [src/tests/nra_ode/kquine_04.smt2](https://github.com/dreal/dreal3/blob/1cbb1e1c933f43eab75a837903a85a9a2b00fca6/src/tests/nra_ode/kquine_04.smt2).

[2015-05-12 17:05] soonhokong opened #115 "strange ODE bug in OSX"
- File: [src/tests/nra_ode/airplane-single-nl-sat_2.smt2]( https://github.com/dreal/dreal3/blob/1cbb1e1c933f43eab75a837903a85a9a2b00fca6/src/tests/nra_ode/airplane-single-nl-sat_2.smt2)
 - Expected Result : Delta-SAT

In Ubuntu, it's fine. However, in OSX, `dReal airplane-single-nl-sat_2.smt2` gives UNSAT which is wrong. Strangely, `dReal --debug airplane-single-nl-sat_2.smt2` gives `SAT` which ma

[2015-05-12 21:10] #68 closed

[2015-05-12 21:19] zenna opened #116 "C-API has memory leaks"
From dReal.jl (this file is now in tests)

[code]

[2015-05-12 21:45] soonhokong commented on #116
@zenna, this is a known issue. I've assigned a lower priority so far. I agree that it's an important one to fix now.

[2015-05-13 10:47] pzuliani opened #117 "--version not working"
With the latest commit
[code]

[2015-05-13 11:12] #114 closed

[2015-05-13 11:14] soonhokong commented on #114
@kquine, I fixed the bug in 9196b87. I also had to modify src/tests/kquine_04.smt2 file to narrow the domain of `phi_0_0` variable to `[-0.005, 0.005]` to make it easier to test it (otherwise, it seems it takes more than 5min).

[2015-05-13 11:16] soonhokong commented on #117
@pzuliani, I just fix this in 9196b87.

[2015-05-13 11:16] #117 closed

[2015-05-13 11:17] soonhokong commented on #117
FYI, the filename has to come at the end of command-line arguments. This is due to the change of the parsing library (GFLAGS => EzOptionParser). If this is too annoying, I'll think about improving it..

[2015-05-13 12:26] pzuliani opened #118 "previously delta-sat now unsat (commit fef04c126ebd)"
[code]

[2015-05-13 13:08] soonhokong commented on #74
@pzuliani wrote:

[code]

[2015-05-13 16:14] soonhokong commented on #118
@pzuliani, it turns out there was a mistake in the original formula. The variables in the flow are defined in the order of `alphay`, `betax`, `t`, `v`, ... while they are used in the formula in a different order -- `v`, `x`, `y`, `z`, .... The problem is fixed in https://github.com/dreal/dreal3/commit/88d942c0f8e3aedf2fdc439e80fd969e26265977#diff-3e8f10c352cc40a34568f365411bdaecR64. After this fix

[2015-05-13 16:31] soonhokong commented on #118
I guess you're using "--precision 0.005`, right? I've tried it with using that option, and it's terminated in 20sec.

[2015-05-13 16:31] #118 closed

[2015-05-13 16:36] soonhokong commented on #74
@pzuliani, could you send me your `CMakeCache.txt` file via email? It should be in your build directory.

[2015-05-13 18:42] zenna commented on #116
Ok @soonhokong . Do you know Is it a problem in the C-API or the C++?

[2015-05-13 18:45] soonhokong commented on #116
It should be on C++ side.

[2015-05-13 20:51] kquine opened #119 "A new (simple) bug"
In the latest version, whenever running drh files,  the following error happens:
`can't open file: --short_sat (triggered at ...dreal3/src/opensmt/smtsolvers/SMTConfig.C, 482)`

[2015-05-13 21:08] soonhokong commented on #119
It's related to the recent change which replaced GFLAGS with EzOptionParser. The new library sort-of enforces users to place a filename in the last position of command-line arguments. I'll figure out how to relax this condition.

[2015-05-13 23:29] kquine commented on #119
Is there any way to run .drh file from dReach in the current version? The error msg shows up even with the default option.

[2015-05-13 23:31] soonhokong commented on #119
I'm fixing it.. Allow me 5min.

[2015-05-13 23:35] soonhokong commented on #119
@kquine, please try the latest version.

[2015-05-13 23:36] soonhokong commented on #119
For the record, it's fixed by bb885157b95af45027a744ead67bb3f2267310e5.

[2015-05-13 23:38] kquine commented on #119
It works. Thank you!

On Wed, May 13, 2015 at 7:36 PM, Soonho Kong <notifications@github.com>
wrote:

--
Kyungmin Bae, Postdoctoral Fellow
School of Computer Science
Carnegie Mellon University

[2015-05-14 00:50] dzufferey commented on #119
@soonhokong is there a way to have dReal read from the standard input and give options at the same time ? dReal without any option starts reading from stdin. however, when there are some options it triggers the error about not being able to open the file.  Thanks.

[2015-05-14 00:59] soonhokong commented on #119
@dzufferey, I'm fixing the option parser now. The feature will be available soon.

[2015-05-14 02:57] #119 closed

[2015-05-14 02:58] soonhokong commented on #119
@dzufferey, 070d174 also fixes your problem as well. Please let me know if you still have the problem.

[2015-05-14 03:06] dzufferey commented on #119
@soonhokong Thanks, that works.

[2015-05-14 19:34] soonhokong commented on #79
@kquine, I just implemented the first item in my first reply. Please take an example, [src/tests/nra_ode/multi_precision_01.smt2](https://github.com/dreal/dreal3/blob/master/src/tests/nra_ode/multi_precision_01.smt2#L26-L47). To specify a precision for a variable, use the following syntax:
[code]

When we do branching in ICP, we take this per-variable precision into an account and do not perform b

[2015-05-14 19:36] soonhokong commented on #79
For now, to use this feature, you have to edit an `.smt2` file manually. I'll update `dReach` soon to automate the process.

[2015-05-15 15:15] soonhokong commented on #74
I've made some patches to fix the performance issue. https://github.com/soonhokong/dreal3/commit/49152680f2479966552ad975b0fb8d6c26eb3b99 is at least as fast as v3.15.05.01.

While comparing a static binary and a dynamic binary, I found a non-trivial discrepancy in their performance (using the above example formula). So far, what I've found is that CAPD picks different step values for the two bina

[2015-05-15 22:08] kquine opened #120 "Problem on dReach path generation"
There are some problem for multiple jump conditions between two modes,
the same as one in https://github.com/dreal/dreal/issues/68.

[2015-05-16 00:07] soonhokong commented on #120
I think we didn't patch `dReach` in dReal3 when we resolved dreal/dreal#68. I'll pick it up in an hour and let you know.

[2015-05-16 03:00] soonhokong commented on #120
Closed by 6f2280e0acd1a908600bef7480c004c08efb828c.

[2015-05-16 03:15] kquine commented on #120
Each smt2 file contains a test code, such as
"====================

VarDecl Map===================={

beta: [-1.500000, 1.500000],

gL: [-1.500000, 1.500000],",...

"

Could you remove such test code fragment?

On Fri, May 15, 2015 at 11:00 PM, Soonho Kong <notifications@github.com>
wrote:

--
Kyungmin Bae, Postdoctoral Fellow
School of Computer Science
Carnegie Mellon University

[2015-05-16 03:31] soonhokong commented on #120
Removed by d60691281769f52def58e110f63c8f2b67806e31

[2015-05-16 03:31] #120 closed

[2015-05-20 14:50] #102 closed

[2015-05-20 16:15] soonhokong opened #121 "nra_ode/minmax_01.smt fails with --polytope option"

[2015-05-20 16:25] soonhokong commented on #103
IBEX team fixed a problem, and merged my commits. I'm running the Flyspeck benchmarks.

[2015-05-21 16:04] soonhokong opened #122 "CAPD's automatic time step control"
Sent an email with a report https://gist.github.com/soonhokong/f5cb88085621f37d4a88.

Related issue: https://github.com/dreal/dreal/issues/37

[2015-05-21 16:05] soonhokong opened #123 "implement `--ode-step` option"
Related issue: https://github.com/dreal/dreal/issues/37

[2015-05-21 16:11] soonhokong commented on #116
I've fixed some problems causing memory leaks. I've found some problems on IBEX. I'll report them to IBEX team. Thanks for your patience.

[2015-05-21 16:20] zenna commented on #116
Great.  Let me know what were/are the IBEX issues, because now I am using IBEX directly.

[2015-05-21 21:43] soonhokong commented on #116
I opened an issue, https://github.com/ibex-team/ibex-lib/issues/137.

[2015-05-26 18:30] dzufferey opened #124 "'--readable-proof' prints predicate not part of the input file"
Sometime dReal prints simplified version of the predicate in the proof, rather than the predicate in the input formula. I've only saw this happen in the first step of the proof.

example
-----------

command: `dReal --readable-proof test.smt2`

where `test.smt2` contains:
[code]

gives a proof that starts with
[code]

However `(<= (+ (^ x 2) (^ y 2)) 1.35)` is not part of the input. The intput con

[2015-05-26 20:40] soonhokong commented on #124
@dzufferey, this is because of the simplification step in the preprocessing. I can make an option to disable the step. Do you think it will be useful for you?

I'm not sure that this is the case, could you double check? I think the following line made you think that it happens:

[code]

Note that the constraint is `1.3 <= x^2 + y^2 + 0.05` in infix-form, and it's different from "x^2 + y^2 <= 1.35"

[2015-05-26 20:56] dzufferey commented on #124
@soonhokong you were right it is a different constraint `(not (< (+ 1.3 0.05) (+ (^ x 2) (^ y 2))))` that gets simplified.

With Sean, we are working on some interpolation, so I need to associate each clause in the proof with the formula from which it comes. Right now I'm doing that just by syntactic matching, so I need the clause to be the same (up to negation) in the input formula and the proof.

[2015-05-26 20:58] soonhokong commented on #124
I'm not sure that OpenSMT supports that. Possibly, it's not. Feel free to test it!

I'll do this.

[2015-05-26 20:58] soonhokong opened #125 "option to disable simplification"
See https://github.com/dreal/dreal3/issues/124

[2015-05-26 20:58] #124 closed

[2015-05-26 21:02] dzufferey commented on #124
It seems OpenSMT does not support named clauses. When I try I get `syntax error, unexpected TK_ANNOT`.

[2015-05-26 21:03] soonhokong commented on #124
@dzufferey, I see. I'll add an option to disable simplification soon (#125).

[2015-05-27 15:26] #125 closed

[2015-05-27 15:26] soonhokong commented on #124
@dzufferey, please try `--no-simp`.

[2015-05-27 15:53] dzufferey commented on #124
That works. Thanks.

[2015-05-27 16:09] #123 closed

[2015-05-27 16:14] soonhokong commented on #102
446cde4422912f47f86c3914af7d7e26f7f6874a added a new target `update_pkgs`. Running `make update_pkgs` or `ninja update_pkgs` will update, build, and install all external packages that we're using (IBEX, CAPD, FILIB, etc).

[2015-05-27 21:25] soonhokong commented on #121
It's possibly related with https://github.com/ibex-team/ibex-lib/issues/145.

[2015-05-28 07:33] soonhokong commented on #121
Closed by ibex-team/ibex-lib#145.

[2015-05-28 07:33] #121 closed

[2015-05-28 07:34] soonhokong commented on #121
Updated ibex-team/ibex-lib#145. Please do the following:
[code]

[2015-05-28 07:48] #115 closed

[2015-05-28 07:48] #105 closed

[2015-05-28 17:37] soonhokong commented on #76
In https://github.com/dreal/dreal3/commit/4dfca67fbc956035c7bc717db8fb719991c21436, I added four smt2 files made from the above drh examples:

 - kquine_sat_1_k6.smt2: from 1st example with k = 6
 - kquine_sat_2_k6.smt2: from 2nd example with k = 6
 - kquine_sat_3_k6.smt2: from 3rd example with k = 6
 - kquine_sat_1_k7.smt2: from 1st example with k = 7

The latest version of dReal returns delta-sa

[2015-05-28 17:37] #76 closed

[2015-05-29 17:28] #5 closed

[2015-05-29 17:30] soonhokong commented on #5
This one is fixed by cda86739ef23da107a04e4bdef4ef335bf80b9c4 and0fd7105407e4e56cd07375c097f550a4a6c99e56. There is another leak related with `--polytope` option. I'm fixing that one now.

[2015-05-31 19:44] kquine opened #126 "C-macros in jump conditions"
Because of the way the C preprocessor works, C-macros in the jump condition do not work properly.
The quote symbol used for the jump condition is considered as a beginning of a string.

For example, in the following dReach script, the macros in the jump condition are not properly
replaced and `dReach` gives syntax errors.

[code]

[2015-06-01 14:03] zenna commented on #116
Any word on this? I saw you made changes so recompiled dReal but the above code leaks memory (extremely rapidly).

[2015-06-01 14:10] soonhokong commented on #116
Well.. I'm still fixing other leaks. I will let you know when it's ready.

BTW, how can I check memory leaks in Julia? Could you teach me how to do
that? For C/C++ code, I'm using valgrind.

--

Best,
Soonho

[2015-06-01 14:40] zenna commented on #116
I found the memory leaks simply because my system ran out of memory.  But you can use valgrind with Julia:

http://julia.readthedocs.org/en/latest/devdocs/valgrind/

[2015-06-01 14:54] soonhokong commented on #116
@zenna, I see. Thanks for the link!

[2015-06-01 15:19] soonhokong commented on #116
@zenna, I just made another commit https://github.com/dreal/dreal3/commit/788e94b7ef0c7f3f3bb906c3721f2423a7e75167. It should fix the problem, could you test it?

Also, if you're using ibex on your own, Reading the commit message of 788e94b7ef0c7f3f3bb906c3721f2423a7e75167 should be useful for you to avoid this kind of memory leak. It was pretty much difficult for me to catch.

[2015-06-01 15:25] zenna commented on #116
@soonhokong Testing now.

That is a weird bug.

[2015-06-01 15:53] soonhokong commented on #5
Leak in using `--polytope` option is fixed by 5ab92c31c54acc587df0e7ef15bfaacef099a37f.

[2015-06-01 16:03] zenna commented on #116
@soonhokong The same problem remains.

I created the following program directly in C

[code]

And even using the old dReal libraries, the memory didn't explode, although one would have to check with valgrind to see if the leaks are actually gone.

This means there's something wrong with the Julia interface, I'll try to figure that out.

[2015-06-01 16:05] soonhokong commented on #116
@zenna, thanks for testing it.

I'll check this. If there is any remaining leaks from this C code, I'll fix them.

[2015-06-01 16:20] soonhokong commented on #116
I just ran valgrind. It shows that there is no leak, however the 'zero' variable that I introduced in https://github.com/dreal/dreal3/commit/788e94b7ef0c7f3f3bb906c3721f2423a7e75167 is *still reachable*:

This variable is *static*, that is, it will be created only once. The size of wasted memory should be less than 256 bytes. Anyway, I will revise the code to free this variable in the end.

[2015-06-01 16:25] soonhokong commented on #116
BTW, I just take your code and add it to `src/tests/c_api/leak_test.c`. After fetching up the latest version of source code and recompiling them, you can run the leak_test by executing `./tests/c_api/c_api_leak_test`. You can also run valgrind over it by executing `valgrind --leak-check=full ./tests/c_api/c_api_leak_test`. When you get the latest version, please try valgrind and let me know if you

[2015-06-01 17:31] zenna commented on #116
Yeah

Something strange is going on at the Julia side.  There is a small minor difference between the C leak test and the julia leak test which is that the julia leak test had constraints of the form

[code]

But the c form had `b` hard coded as 0.1.  When I use the hard coded values in Julia there is no memory leak, otherwise it eats up about 1 gigabyte per second!

When I make the C code use ran

[2015-06-01 18:10] soonhokong commented on #116
hmm... this sounds very strange. Please let me know when you find something.

[2015-06-01 18:32] soonhokong commented on #116
Possibly, it's because of the way we construct a constant. So far, dReal only provide `opensmt_mk_num_from_string` function which takes a string representation of a number. I can add `opensmt_mk_num(opensmt_context, double const)` which directly takes a double. Let's see how it helps.

[2015-06-01 18:39] zenna commented on #116
Perhaps.  Let me know when once you've added it.

[2015-06-01 18:41] soonhokong commented on #116
It's added by 387cc390dccb9e4a4ec0df27dac4f85b7a99a6bb.

[2015-06-01 18:41] soonhokong commented on #116
I also chaged `leak_test.c` to use `rand()` function. See https://github.com/dreal/dreal3/commit/ccaaeb8be074c8a1d47b9a73c75be19d46f31b16 for details.

[2015-06-01 18:43] soonhokong commented on #116
Let me fix the *still reacahable* issue soon. I want to make sure that we don't waste any memory in dReal side.

[2015-06-01 19:25] zenna commented on #116
@soonhokong I don't know whether it is the result of this change or the fact that I cloned a fresh dReal and built from scratch, but the problem seems to have gone!

There is still an increase in memory, over time, but its only about 1 mg per second (instead of 1 gigabyte) and it could well be just down to the fact that Julia is memory managed and the garbage collector is yet to kick in.

[2015-06-01 19:27] soonhokong commented on #116
That's great! BTW I just submitted another commit to the repo, please try it when you have time. Now, I can't find any *leak*/*still reachable*.

[2015-06-01 19:28] #116 closed

[2015-06-02 16:40] danbryce opened #127 "Bug in contractor_capd4 prune"
I'm seeing an issue where the intersect of X_0 and X_t is empty, and the contractor calls the ibex IntervalVector set_empty() method.  However, it appears to be setting only the first element of the vector to the empty interval (and not the whole vector).  I think this is not incorrect because any empty element means the whole vector is empty.  The problem comes in contractor_capd_fwd_full::prune

[2015-06-02 16:50] danbryce commented on #127
Fixed in 1d16261cb3faa799df3b87788319cf04b9fabee0

[2015-06-02 17:04] soonhokong commented on #127
@danbryce, your point is correct. But the fix was already included in the master branch (see https://github.com/dreal/dreal3/commit/9f96673abab0d61bac2e5210a3b6f1f81039c7a7).

[2015-06-02 17:04] #127 closed

[2015-06-02 17:05] soonhokong commented on #127
For the record, it's related to #114.

[2015-06-03 01:26] zenna opened #128 "Segfaults in C-API"
Even slight variations of the formula don't make it segfault.

[code]

[2015-06-03 09:45] soonhokong commented on #128
I believe that the problem is on OpenSMT side.

1. In OpenSMT, they have an inheritance hierarchy:

     `SMTSolver <- CoreSMTSolver <- SimpleSMTSolver`

    Note that OpenSMTContext has a member variable `solver` whose type is `SimpleSMTSolver`.

2. I think the main problem is that SimpleSMTSolver does not implement its own `popBacktrackPoint` method. As a result, it is using `CoreSMTSolver::popB

[2015-06-03 15:26] soonhokong commented on #128
I'm still investigating this issue.

I have a smaller example where I can reproduce the segmentation fault:
[code]

It's doing `push -> assert -> check -> pop -> assert -> check`.

I have a `smt2` file which is essentially doing the same checking.

[code]

Running dReal over this `smt2` file also generates a segmentation fault.

[2015-06-03 17:43] zenna commented on #128
@soonhokong I don't see the difference "push n times -> check -> pop n times" vs "push -> check -> pop -> push -> check...".

You mean you have only considered cases where you don't push after popping? What would be the point of that?

I ask because before you solve this bug maybe there's a way I can reformulate my popping and pushing just to avoid it.  The actual example I found this bug is below

[2015-06-03 17:50] soonhokong commented on #128
Both of them are valid work-flows and we need to support them without generating any seg-faults. My point was that so far we've mostly handled `smt2` files which do not contain any explicit `push` and `pop` commands in them. When dReal handles them, it follows `push^n -> check -> pop^n` pattern.

I think it's difficult to avoid this bug as long as you have `pop -> check` in your workflow. I'm stil

[2015-06-03 18:56] soonhokong commented on #128
@zenna, could you test 9f26f6fad81c5125692cf19f41be3140ff1c79e5?

[2015-06-03 23:33] zenna commented on #128
Seems to work! Awesome! I'll do some more tests

[2015-06-04 08:19] zenna commented on #128
Still getting segfaults.

I haven't managed to replicate it consistently.  In particular I recreate the problem as a [huge smt2 file](https://gist.github.com/zenna/ad60335a22f05e66cdb4) and that did not cause sefault

[code]

[2015-06-04 12:14] soonhokong commented on #128
I'll fix it soon. The "huge smt2 file" file certainly helps a lot. Please give me more if you have more.

The segmentation fault is non-deterministic because it's the result of accessing free'd region of memory. It's up to OS when to reallocate and use the freed memory. However, if you're running valgrind (or a similar dynamic tool), it will detect there are invalid reads (or use-after-free).

[2015-06-04 15:11] soonhokong commented on #128
@zenna, could you let me know how you get the segmentation fault? From the above message, I know it comes from dReal.jl. Could you send me the Julia script that you ran?

[2015-06-04 16:03] zenna commented on #128
Unfortunately it is not so simple to extract.

It comes from running [this file](https://github.com/zenna/Sigma.jl/blob/sigbex/src/benchmarks/parameterestimation/parameterestimation.jl)

This uses my library Sigma, which is currently not the easiest thing to install.  Please let me know if you like me to make this easier to install.

[2015-06-04 16:14] soonhokong commented on #128
Never mind. I find a way to reproduce the problem.

[2015-06-04 22:11] soonhokong commented on #128
@zenna, could you test 91f04526de5c42067beb6c777aac6fdb20d5f46e?

[2015-06-04 22:14] soonhokong commented on #128
I will also add more test cases using push/pop.

[2015-06-04 22:16] soonhokong commented on #26
ibex_fwdbwd is fixed by https://github.com/dreal/dreal3/commit/be54f3af364a895174aab2c5a3f9e2057ff0a22e

[2015-06-04 23:33] zenna opened #129 "Both problem and negation unsat"
[code]

[2015-06-05 00:08] zenna commented on #128
Checking now

[2015-06-05 00:20] soonhokong commented on #129
I think this is an upstream issue (in IBEX). I have a smaller example which is UNSAT and its negation is also UNSAT as well.

[code]

[2015-06-05 00:21] soonhokong commented on #129
I'll try to write a self-contained C++ code and report it to the IBEX team. Thanks for the report!

[2015-06-05 00:25] soonhokong commented on #129
hmm... it seems that the argument of `asin` is always out of its domain and that's why it's always UNSAT. I'll double check.

[2015-06-05 15:54] soonhokong commented on #129
@zenna and @scungao, this is what's happening here.

1. Let's say that we have a formula `∃x ∈ I. f(x) ∨ g(x)`. Note that `g(x)` is not defined in `I`. But we do have `∃x ∈ I. f(x)` is true so `∃x ∈ I. f(x) ∨ g(x)` is true as well.

2. When dReal handles a disjunction, it checks the following assignments in sequence since it seeks a complete assignment unless `--short-sat` option is being used:

[2015-06-05 15:57] soonhokong commented on #128
@zenna, any news on it?

[2015-06-05 15:59] zenna commented on #128
I haven't seen the segfault, but i haven't run all the old tests.  I'll
check later this evening.  I have a paper deadline today

On 5 June 2015 at 11:57, Soonho Kong <notifications@github.com> wrote:

[2015-06-05 16:00] soonhokong commented on #128
I see. No rush on this.

[2015-06-05 20:08] soonhokong opened #130 "--in option"
For now, running dReal without any parameter waits for standard input. It seems it confuses people so we're thinking about changing its behavior to print out help messages.

I'm thinking about adding a new option "--stdin" which simulate the old behavior.

@dzufferey, does this proposal sound reasonable to you?

[2015-06-05 20:14] dzufferey commented on #130
That sounds fine. For instance, z3 has a similar behaviour where you have to give the "-in" option, otherwise it prints an error/help message.

[2015-06-05 20:30] soonhokong commented on #130
Great. I'll implement this soon.

[2015-06-08 15:20] #130 closed

[2015-06-08 21:55] zenna opened #131 "Unknown term logic error (possibly from opensmt_mk_num)"
This code

[code]

Is causing this error

[code]

I think the culprit is the recently added `mk_num`, because if you replace that with a variable the error does not occur.  I added this example as `tests/ifelse.jl in dReal.jl`

[2015-06-09 02:08] soonhokong commented on #131
I think the error comes from the use of `opensmt_mk_ite`. When dReal handles a `.smt2` file, it has a preprocessing step which eliminate all ITEs in a file. When we use C APIs, we don't have the preprocessing step and it caused this error.

Let me think about a possible solution for the problem...

Could you check that this is the case?

[2015-06-09 20:31] soonhokong commented on #131
I added a patch in facdbff and an [example](https://github.com/dreal/dreal3/blob/master/src/tests/c_api/dreal_jl_02.c). Could you check it doesn't break any existing working examples?

[2015-06-12 16:33] AdrienChampion opened #132 "set-option print-success true has no effect"
Is there any plan to add print-success?
It could be interesting for tools interacting with solvers *via* system pipes.

[2015-06-12 17:50] soonhokong commented on #132
I'll add it soon.

[2015-06-13 14:22] afragop72 opened #134 "Errors during make dReal"
Hi

I am using gcc 5.0 and towards make I am receiving the following errors.

Thx

Note on using the library:

Please set your CXXFLAGS to " -I/dreal/build/release/external/src/CAPD4/capdExt/filibsrc/. -Wall -Wextra -std=c++11 -D__USE_FILIB__ -w -frounding-math" when compiling programs using the installed filib++.

=== configuring in capdAux (/dreal/build/release/external/src/CAPD4/capdAux)
config

[2015-06-13 15:41] soonhokong commented on #134
Thanks for the report. I will check it when I go to my office. I guess you're using OSX. Could you confirm that you have installed the following packages?

 automake autoconf libtool git cmake pkg-config

[2015-06-13 17:37] soonhokong commented on #134
As far as I remember, the error occurs because `pkg-config` is not installed. Actually, it was missing in the documentation. I just added it in 82e9217405d2344df5e1b8fa2bfc47ae71f4a244.

[2015-06-13 19:36] afragop72 commented on #134
Hi Soonho

Thanks for the quick feedback.

Actually, I hadn’t installed pkg-config and when I installed it make was proceed with no problem.

Regards,

—Tasos Fragopoulos

On Jun 13, 2015, at 8:38 PM, Soonho Kong <notifications@github.com<mailto:notifications@github.com>> wrote:

As far as I remember, the error occurs because pkg-config is not installed. Actually, it was missing in the documentati

[2015-06-13 19:46] #134 closed

[2015-06-14 09:09] afragop72 opened #135 "Folder Structure"
Hi

I am in the process of installing dReach.
On the step,
eval `opam config env --root=<ABSOLUTE_HOMEPATH>/ocamlbrew/ocaml-4.00.1/.opam`

I cannot see the directory structure under my homepath and I am receiving an error towards the execution of the above command.

Regards

--Tasos

PS. I am installing it in OSX Yosemite 10.10.3

[2015-06-14 15:17] soonhokong commented on #135
@afragop72, thanks for the report. I'll check it this evening. In the meantime, could you try the precompiled binary in https://github.com/dreal/dreal3/releases/download/v3.15.06/dReal-3.15.06-darwin.zip ? It should work without a problem.

[2015-06-15 17:59] soonhokong commented on #135
@afragop72, I just updated the `doc/osx-gcc.md` file. Please try:

    eval `opam config env`
    opam update
    opam install ocamlfind batteries oasis

If you still have a problem, please let us know.

[2015-06-16 06:27] afragop72 commented on #135
Hi,

Now it seems to be OK.

Actually, I have seen a folder dReal created under my door dir, where I went to dreal/tools and I run make and files compiled with no problem.

I will keep you posted for any future issues.

Thanks and Regards,

—Tasos

On Jun 15, 2015, at 8:59 PM, Soonho Kong <notifications@github.com<mailto:notifications@github.com>> wrote:

@afragop72<https://github.com/afragop72>,

[2015-06-16 09:52] soonhokong commented on #135
@afragop72, great!!

[2015-06-16 09:52] #135 closed

[2015-06-17 15:41] AdrienChampion commented on #132
By the way, a way around that problem would be for you to support the `echo` command.
That way tools could send a `(echo "success")` after issuing a command.

Maybe that would be less work?

[2015-06-17 21:09] soonhokong commented on #132
The real problem is the way we treat standard input. It starts processing the input only after it receives EOF from a stream. It's a known problem (@dzufferey first pointed this out to us). I can fix it later but for now I have something else to process. Please allow me some more time.

[2015-06-18 08:43] AdrienChampion commented on #132
I see, thank you for your answer and good luck :)

[2015-06-22 23:47] zenna commented on #128
@soonhokong Segfaults still exist.  I'll try to isolate some examples.

[2015-06-22 23:48] soonhokong commented on #128
@zenna, thank you!

[2015-06-30 18:19] soonhokong opened #136 "test failures in ODE"
After updating CAPD to the latest version, we have test failures with the following instances:

 - [x] pzuliani_01.smt2
 - [x] pzuliani_02.smt2
 - [x] scaled_prostate_infix_0_0.smt2

[2015-07-07 02:52] zenna commented on #128
Actually I am not sure this is true.  I think I may have just be doing  pushing and popping wrong, i.e. popping too many times.  I'm trying to run more tests.

[2015-07-07 02:52] zenna commented on #131
No existing tests are broken.

[2015-07-07 02:55] soonhokong commented on #131
Thanks for checking it. I'll close this one for now. Please re-open this one if you find any issue.

[2015-07-07 02:55] #131 closed

[2015-07-07 02:56] soonhokong commented on #128
I see. I'll wait for the test results then.

[2015-07-07 02:59] zenna opened #137 "Add Forall to C-API"

[2015-07-07 07:22] soonhokong commented on #137
Please see https://github.com/dreal/dreal3/blob/1a501a43d5a7fe899a2aa830434b23200a012e20/src/tests/c_api/exist_forall_01.c#L45-L46.

The main purpose of this example is to find a minimum of a function

![screen shot 2015-07-07 at 3 20 20 am](https://cloud.githubusercontent.com/assets/403281/8540831/26507214-2457-11e5-819d-ede616a1cfeb.png)

I think the new ingredient here is `opensmt_mk_forall_rea

[2015-07-07 07:24] soonhokong commented on #137
We can have two types of variables -- existentially and universally quantified variables. For now, we assume that we're handling a formula in prenex normal form such as ∃. x1 ... xn ∀ y1 ... yn F where F is a quantifier-free part.

[2015-07-07 07:24] #137 closed

[2015-07-07 21:25] zenna opened #138 "unbounded integer var still takes bound parameters in C-API"
( opensmt_context, char const * , long , long );

[2015-07-07 21:26] zenna commented on #138
and `opensmt_mk_forall_unbounded_int_var ( opensmt_context, char const * , long , long )`

[2015-07-07 22:29] soonhokong commented on #138
Oops. Will fix it up soon. Thank you

[2015-07-08 18:08] zenna opened #139 "ForAll - bug"
The following example is to see if we can approximate a function f with a polynomial g.  In this case f is a polynomial so it should be satisfiable

[code]

In other words constraint2 is a weaker constraint than 1 but it fails.

In addition the old error where calling check() two times in a row can result in different results, has returned.

[2015-07-08 18:33] soonhokong commented on #139
1. @zenna, could you check the dReal version that you're using (commit hash)? With the latest version, I have "delta-sat" for both of constraint1 and constraint2.

2.

You mean, both of them returns delta-sat answers but with different models, right? If so, it is the expected result. We randomly pick a value from y-space. Also, when we do branching, we randomly select the box to visit among two sp

[2015-07-08 18:36] soonhokong commented on #139
@zenna, here are the SMT2 files that I used to test dReal:

 - [constraint1](https://github.com/dreal/dreal3/blob/f205695bfcb14fcee2a47fa32ca090e5812068cf/src/tests/nra/exist_forall_zenna_02.smt2)
 - [constraint2](https://github.com/dreal/dreal3/blob/f205695bfcb14fcee2a47fa32ca090e5812068cf/src/tests/nra/exist_forall_zenna_03.smt2)

[2015-07-08 18:37] soonhokong commented on #139
I'll pre-release the latest version in 10min. Please try that one and let me know if the problem is still there.

[2015-07-08 18:45] soonhokong commented on #139
Obviously, if you use smaller precision, you'll get a smaller difference in models you get from two checks. But it will increase the running time..

[2015-07-08 18:52] zenna commented on #139
I'll try the new release.

No that's not what I meant.

I mean:
[code]

We had this problem before, remember? You fixed it.  The issue was with the precision.

[2015-07-08 18:53] soonhokong commented on #139
@zenna, I see. I'll check that.

The prerelease is out. https://github.com/dreal/dreal3/releases/tag/v3.15.07.01 Could you try whether check for constraint2 gives delta-sat with this version?

[2015-07-08 18:59] zenna commented on #139
Actually I am using libs built from source in commit 4434cfd3305f4971ca7532488b52ca8d88b32bfd

[2015-07-08 19:00] soonhokong commented on #139
@zenna, I see. Maybe SMT2 files are not good for testing this. I'll write C programs testing the problem.

[2015-07-08 19:11] zenna commented on #139
With the new binaries I get SAT for both constraints as you did.

[2015-07-08 19:17] soonhokong commented on #139
Well... that's good news but I don't understand what makes the change.

I guess the double check problem is still there, could you check with the new binaries?

[2015-07-08 19:46] soonhokong commented on #139
I can reproduce the problem. I'll fix it.

[2015-07-08 20:17] soonhokong commented on #139
After dReal processes a 'check' command, it keeps the new bound. For the constraint2 example, the initial bounds are:

[code]

after the first check, the assignment is:

[code]

When the second check begins, it starts with this "already-pruned" search space. At this point, you may think that "Well, this box is already smaller enough. Why doesn't it return delta-sat immediately?". In current prunin

[2015-07-09 01:47] zenna opened #140 "Optimization is unsat"
DReal says there's no optimal solution, which must be wrong.
[code]

[2015-07-09 01:48] soonhokong commented on #140
Is it problem 167 from the paper?

[2015-07-09 01:49] soonhokong commented on #140
I got it. Never mind.

[2015-07-09 02:13] zenna commented on #140
Hold on, it might be a stupid mistake by me (not resetting context)

[2015-07-09 02:13] soonhokong commented on #140
I was able to reproduce the problem. I think this is a bug in IBEX.

[code]

Here it evaluates the constraint using the assignment x1 = [-1000000, 1000000] and x2 = [-1000000, 1000000]. Then somehow, it concludes that cost = [empty], which is wrong.

It's interesting that if we provide a smaller interval for x1 and x2 such as [0, 10]. It works. I'll check the latest version of IBEX. If I can still

[2015-07-09 02:14] soonhokong commented on #140
I can reproduce this one with dOp:

[code]

[2015-07-09 02:14] zenna commented on #140
Ok

[2015-07-09 02:14] soonhokong commented on #140
As I mentioned, if I provide a smaller interval, it finds a solution.

[2015-07-09 02:43] soonhokong commented on #140
Here is a small example which shows the problem:

[code]

I think there is a bug in IBEX handling `cos` function. When it gets a huge interval, it return an empty interval. I'll open an issue in IBEX later. I don't think they can fix the problem before our deadline. Let's give a smaller interval to avoid the problem temporarily.

[2015-07-09 03:19] soonhokong commented on #140
BTW, the paper includes many mistakes. For instance, this problem 167, they claim that the global minimum is located at (1.0, 1.0) for two-dimensional case. However, this is not the case. f(1.0, 1.0) = -4 * cos(1) which is -2.1612. The global minimum is -4 * cos(0) = -4. Our tool finds somewhere near the global optimum. With precision=0.001, it finds the following for example:

[code]

[2015-07-09 03:24] soonhokong commented on #140
I bet @scungao likes this picture :-)

![screen shot 2015-07-08 at 11 23 59 pm](https://cloud.githubusercontent.com/assets/403281/8587372/7123703a-25c8-11e5-9914-31a2363f6015.png)

[2015-07-09 04:00] zenna commented on #140
@soonhokong Yeah I noticed this.  I looked at the original function.  The minimum is at 1,1, but they missed a parents (the cos is closed before the +1)

[code]

[2015-07-09 04:00] zenna commented on #140
What are you using to plot?

[2015-07-09 04:04] soonhokong commented on #140
I see.. Actually, I found some other typos here and there in the paper. Then I had no way to make sure whether the paper is correct or dReal is correct. Visualization is one way of doing a sanity-check.. (only for 1D and 2D cases though).

I'm using http://matplotlib.org . Many people told me that it's pretty good. The one that I'm using in particular is based on this example, http://matplotlib.or

[2015-07-09 04:06] zenna commented on #140
An easy way to test whether dReal is correct or the paper is correct is to just evaluate the function (assuming you/they wrote it down right).

[2015-07-09 04:07] soonhokong commented on #140
yep :-)

[2015-07-09 04:14] soonhokong commented on #140
It seems that we can use https://github.com/stevengj/PyPlot.jl to use matplotlib in Julia..

[2015-07-09 04:15] zenna commented on #140
Yep, I really like Gadfly, but it doesnt support 3d plots

[2015-07-09 05:57] scungao commented on #140
LOL! Let's get both min and max on this!

On Wed, Jul 8, 2015 at 11:24 PM, Soonho Kong <notifications@github.com>
wrote:

[2015-07-09 06:07] soonhokong commented on #140
Haha.. I'll get you high-res version soon.

[2015-07-12 22:12] zenna opened #141 "OSX shared lib build"

[2015-07-13 11:05] zenna opened #142 "Update bounds on a variable"
A c-api function to change the  bounds on a variable would be useful.

Currently I do this by popping and pushing assertions

[2015-07-13 14:47] soonhokong commented on #142
will finish this soon

[2015-07-13 15:31] #142 closed

[2015-07-13 15:31] zenna opened #143 "DReal doesn't like infinity"
[code]

[2015-07-13 15:32] soonhokong commented on #142
@zenna, please use the following functions.

[code]

[2015-07-13 15:32] soonhokong commented on #143
hmm.. I'll investigate this one.

[2015-07-13 16:13] soonhokong commented on #143
Well. it turns out that it's IBEX which doesn't like infinity. In the end, we call the following function to convert a double value `-INFINITY` into an IBEX interval:

  https://github.com/dreal-deps/ibex-lib/blob/master/src/arithmetic/ibex_Interval.h#L949-L951

It converts -INFINITY into `[empty]`. Then the following operations conclude that it's UNSAT.

I think there is reason why they did this

[2015-07-15 18:49] iamed2 commented on #141
+1

[2015-07-16 06:16] zenna commented on #143
More issues:

[code]

But...

[code]

[2015-07-16 13:42] soonhokong commented on #143
@zenna, the problem is more complicated than I expected. See the discussion at https://github.com/ibex-team/ibex-lib/issues/148.

Anyway, I think we find a workaround for the problem. I'll test it and let you know how it works.

[2015-07-16 14:32] soonhokong commented on #143
@zenna, could you try https://dl.dropboxusercontent.com/u/10377018/dReal-3.15.07.02-linux-shared-libs.tar.gz ?

[2015-07-16 17:45] soonhokong opened #144 "do not process assert in parsing time"

[2015-07-16 18:33] soonhokong opened #145 "model for boolean variables"
example:
[code]

[2015-07-16 20:40] soonhokong commented on #141
Generating `.dylib` files are done (which is easy). The hard part is to adjust their RPATHs. I'll give you update later.

[2015-07-20 17:36] zenna commented on #143
Soonho.

This fixes the first one but the second remains false

[code]

[2015-07-20 17:39] zenna commented on #128
@soonhokong Not a segfault but maybe related?

[code]

Gives error

[code]

[2015-07-21 04:49] soonhokong commented on #143
@zenna, thanks for checking it. I'll work on it.

[2015-07-21 15:11] dzufferey opened #146 "does not build with g++-4.8 (but succeed with g++-4.9)"
With g++-4.8 I get some error in `src/util/cxx11_check.cpp`. Some of the `static_assert` fails.
On the other hand, it builds fine with g++-4.9. Maybe g++-4.8 should be removed from the build scripts?

[2015-07-21 15:15] soonhokong commented on #146
I noticed the problem as well. i will relax some conditions later to be compatible with gcc-4.8. For now, you can comment those lines that generated errors.

[2015-07-21 15:17] dzufferey commented on #146
Thanks for the info.

[2015-07-21 19:23] dzufferey opened #147 "slow on sat queries"
This is not really a bug, but performance are still important...

I have some sat queries and I'm interested in finding a solution, or intervals which are close enough to a solution. The queries are a mix of polynomial and trigonometric functions.

Below is a small example and my goal is to understand why dReal is slow with that kind of example and what could be done. I have much larger queries th

[2015-07-22 02:25] scungao commented on #147
In this particular case, it seems if you allow delta to be >6.3 then
it covers the whole domain of alpha

(assert ( >= alpha -3.15 ) ) (assert ( <= alpha 3.15 ) )

which means the solver can return arbitrary values?

The difficulty with the instance is probably that the range of the
trigonometric functions are sort of linearly related (on top of their
square terms). It's hard to propagate values o

[2015-07-22 21:54] dzufferey commented on #147
Thanks,

I thought the δ was applied to the constraints (equalities and inequalities), but from your reply it seems that δ defines the sizes of the intervals of each variables, then the running times make more sense.

I'll try to scale the ranges and see how it goes. Actually what you did is pretty much what I did anyway, i.e., x,y,z does not need as much accuracy as ui,uj,uk,ua, so their domain c

[2015-07-23 02:40] scungao commented on #147
It is applied to the constraints indeed -- my explanation is probably not
right, now that I see those constraints on alpha and gamma are simple
bounds and should have been preprocessed already.

On Wed, Jul 22, 2015 at 5:54 PM, dzufferey <notifications@github.com> wrote:

[2015-07-23 07:10] soonhokong commented on #147
Using `--stat` option provides some statistics. Here is an example:

[code]

The example consists of a list of constraint (without any disjunction). So, most of the time is spent at ICP layer as the large numbers for branch and prune indicate. I've implemented a better worklist fixpoint algorithm for ICP (`--worklist-fp`) but it didn't help for this case. I plan to revisit this layer soon.

[2015-07-23 07:10] #147 closed

[2015-07-23 07:14] soonhokong commented on #146
closed by 5cb8f3a0f5587b0db67b9f365a9327033415112d

[2015-07-23 07:14] #146 closed

[2015-07-24 03:02] soonhokong commented on #143
I think the second issue has the same origin of #140. I've contacted IBEX-team about it. I'll give you an update when I get a response from them.

[2015-07-24 03:04] #139 closed

[2015-07-24 03:13] #138 closed

[2015-07-24 03:52] soonhokong commented on #141
I find a way to all-included `libdreal.dylib` file. Could you test it? It's available at https://dl.dropboxusercontent.com/u/10377018/libdreal.dylib. I forget how to test it in Julia. It would be great if someone reminds me of how to do that.

[2015-07-24 03:53] soonhokong commented on #141
For the record:

[code]

[2015-07-24 04:59] iamed2 commented on #141
I was able to test the Dropbox dylib, and it worked! Lovely, thanks :)

Here's what I had to change to get DReal.jl working on recent Julia master on OS X 10.10 (for some reason the enum didn't work so I had to change that as well):

[code]

All you have to do to test is download the dylib to `~/.julia/v0.4/DReal/deps/usr/lib/libdreal.dylib`, open Julia and run `Pkg.test("DReal")`

[2015-07-24 05:07] soonhokong commented on #141
@iamed2, thanks for checking things up! It's great to know that it's working!

 - I'll automate the process of generating `libdreal.dylib` on OSX so that you can make it by simply running `make shared_lib`.

 - For OSX, `libdreal.dylib` should be the only file that you need. That is, you don't really need to dlopen other `.so`. @iamed2, Could you check that?

 - @zenna, you taught me how to update

[2015-07-24 05:09] iamed2 commented on #141
@soonhokong Yup, if you check the diff you'll see the .so loads are all commented out and it all still works :) (in fact, it doesn't work if they aren't commented out)

I can make a pull request for the relevant changes to the DReal.jl repo

[2015-07-24 05:10] soonhokong commented on #141
@iamed2, right! Thanks again!!

[2015-07-24 05:24] zenna commented on #141
Yes its build.jl.  We'll need to write some os specific code.  So for osx we only need to import

[code]

?

None of the others are required?  I don't have a mac.

[2015-07-24 05:29] soonhokong commented on #141
Yes, that's all you need on a Mac.

Well.. I can test it. Just let me know when you need a test.

[2015-07-24 05:38] zenna commented on #141
Try now!

[2015-07-24 05:39] zenna commented on #141
Actually, you're better off taking that pull request..

[2015-07-24 05:42] soonhokong commented on #141
@zenna, it says there are conflicts between what you just pushed and what @iamed2 added. Is it fine to take @iamed2's commit over yours?

[2015-07-24 05:42] soonhokong commented on #141
I'm making `dReal-$version-darwin-shared-libs.tar.gz` file. When I get one, I'll add it to the release page, and test it on my mac.

[2015-07-24 05:57] soonhokong commented on #141
Released: https://github.com/dreal/dreal3/releases/tag/v3.15.07.02

[2015-07-24 06:00] soonhokong commented on #141
Closed by c346b86.

[2015-07-24 06:00] #141 closed

[2015-07-24 06:01] soonhokong commented on #141
@zenna, I think it's not ready to test it yet, right? Let's continue the discussion at https://github.com/dreal/DReal.jl/issues/15.

[2015-07-24 06:08] soonhokong opened #148 "Readme for dop"
python, virtualenv

[2015-07-25 05:41] zenna commented on #128
@soonhokong I'm getting a lot of these symbol errors, any idea?

[2015-07-25 06:20] soonhokong commented on #128
Now I know where they come from. I'll fix it tomorrow night... (sat night).

[2015-08-02 06:16] #128 closed

[2015-08-03 15:48] soonhokong opened #149 "SMT file and API give different result"
[code]

if we write such problem as a smt file, dReal says sat, if we solve it by calling API, dreal says unsat.

[2015-08-04 05:55] soonhokong commented on #149
It's because of the known problem in IBEX...

[2015-08-04 06:34] scungao commented on #149
Is it easy to isolate the problem? Can we fix the code by ourselves?

[2015-08-04 13:02] soonhokong commented on #149
Yes. There is example_04.c test file under src/tests/IBEX directory. It
only includes IBEX code.

I've tried different versions of IBEX last night but they all gave wrong
answers. I will see the internal today.

On Tuesday, August 4, 2015, Sicun Gao <notifications@github.com> wrote:

--

Best,
Soonho

[2015-08-18 18:11] soonhokong opened #150 "bug reported by Stephen Chou"
This is a bug reported by Stephen Chou. When `( assert ( < n_cross_peakTime1 n_cross_fadeTime1 ) )` is commented out, dReal returns `delta-sat` with a model:

[code]

In this model, the assertion `( assert ( < n_cross_peakTime1 n_cross_fadeTime1 ) )` already holds. However, if we uncomment the line `( assert ( < n_cross_peakTime1 n_cross_fadeTime1 ) )`, dReal gives `UNSAT` which indicates there is

[2015-08-20 11:39] soonhokong opened #151 "Generate readable parse error for dOp"

[2015-08-21 04:25] soonhokong commented on #148
![screen shot 2015-08-21 at 12 25 23 am](https://cloud.githubusercontent.com/assets/403281/9401292/2c3cdda4-479b-11e5-9ef7-74e41dc2879c.png)

[2015-08-21 04:35] soonhokong commented on #148
Closed by 2dcb785dfb931ddbda58b124bf0627cafeb6033b

Check: https://github.com/dreal/dreal3/blob/master/src/tools/dop/README.md

[2015-08-21 04:35] #148 closed

[2015-08-21 04:35] #149 closed

[2015-08-21 04:36] soonhokong commented on #149
I patched IBEX. See https://github.com/dreal-deps/ibex-lib/commit/40d048f7e443a89c18e970eb90da450291b710f2

[2015-08-21 04:50] soonhokong commented on #143
@zenna, when I checked it now. It's fixed. Could you check this one with 3.15.08 version?

[2015-08-21 04:51] #143 closed

[2015-08-21 04:52] soonhokong commented on #140
@zenna, this one is fixed as well.. Please check and let me know if it's not the case.

[2015-08-21 04:52] #140 closed

[2015-08-21 05:49] soonhokong commented on #150
[code]

It returns an empty box.

[2015-08-26 14:42] #150 closed

[2015-08-28 00:28] soonhokong opened #152 "opensmt_mk_unbounded_real_var doesn't set [-oo, +oo]"

[2015-08-28 00:40] soonhokong opened #153 "ibex::EmptySystemException when using --polytope"
Example:

[code]

[2015-08-28 00:54] #152 closed

[2015-08-28 00:54] #153 closed

[2015-09-06 15:36] soonhokong opened #154 "[dop] parser for bar (BARON format)"
[code]

[2015-09-08 13:52] soonhokong opened #155 "add C APIs for ODEs"

[2015-09-08 21:10] soonhokong commented on #155
See an example: https://github.com/dreal/dreal3/blob/master/src/tests/c_api/ode_01.c

[2015-09-08 21:10] #155 closed

[2015-09-08 21:11] soonhokong commented on #145
closed by c9fa2db and 73d5221

[2015-09-08 21:11] #145 closed

[2015-09-11 00:48] #154 closed

[2015-09-14 05:39] #151 closed

[2015-09-14 05:39] soonhokong opened #156 "bch support in dop"

[2015-09-14 08:03] #156 closed

[2015-09-15 19:51] soonhokong opened #157 "--stat option for dOp"
- time
 - memory
 - # of vars
 - # of generated CEs (via over-approximation)
 - # of generated CEs (via under-approximation)
 - # of branches

[2015-09-15 19:52] soonhokong opened #158 "[dop] --sync as a default option"

[2015-09-15 19:53] soonhokong opened #159 "[dop] benchmarks"
disjunction benchmarks
--------------------------------

- add some constraints from the functions with sin/cos (turn the functions into equality and inequalities, while introduce new variables on their ranges)
- add some more Boolean structures.

multi-objective benchmarks
-------------------------------------
- add some constraints with the hard functions
- scale to more variables

[2015-09-15 19:55] soonhokong opened #160 "[dop] disable underapproximation for the problems with disjunction"

[2015-09-15 20:16] #158 closed

[2015-09-16 05:29] soonhokong commented on #157
For the record, see http://stackoverflow.com/a/774601

[2015-09-20 04:50] soonhokong opened #161 "homebrew package"
Issue: the latest version of apple clang (`clang-700.0.72`) still does not support `thread_local` yet, as of 2015/09/20. For now, as a temporary workaround, let's remove `thread_local` since we don't need it until we implement parallelism.

In the future, we need to rely on [Boost's thread local storage](http://www.boost.org/doc/libs/1_35_0/doc/html/thread/thread_local_storage.html) for OSX if App

[2015-09-20 04:55] soonhokong opened #162 "apt package"
Issue: [Launchpad](https://launchpad.net/~dreal/+archive/ubuntu/dreal3) requires to upload a self-contained source for a package, while we rely on CMake's [ExternalProject](http://www.cmake.org/cmake/help/v3.0/module/ExternalProject.html) to **download** third-party packages of dReal (i.e. ibex, capd) from github when dReal is built.

Solution: add a cmake switch for Ubuntu packaging and prepare t

[2015-09-20 05:34] soonhokong commented on #161
there is some problem in compiling Coin-Clp:

[code]

[2015-09-21 05:11] soonhokong commented on #161
This problem got fixed by upgrading Coin-Clp from 1.16.6 to 1.16.7: https://github.com/dreal-deps/clp-1.16/commit/3c7d2716661fe0bab3957f9bf87d3af841ce8528

[2015-09-22 18:59] #159 closed

[2015-09-23 20:46] soonhokong commented on #161
The following should work (tested on multiple macs):

[code]

FYI, it only install dReal3 and as a result dReach is using dReal3.

[2015-09-23 20:46] #161 closed

[2015-09-24 07:30] soonhokong commented on #162
https://launchpad.net/~dreal/+archive/ubuntu/dreal3/+packages

[2015-09-24 07:30] #162 closed

[2015-09-24 07:30] soonhokong commented on #162
https://github.com/dreal/ppa-updater

[2015-09-25 07:06] #160 closed

[2015-10-03 07:45] #144 closed

[2015-10-04 15:22] soonhokong opened #163 "test failure - push_pop_04.smt2"

[2015-10-04 15:23] soonhokong opened #164 "test failure - 17.smt2 + --polytope"

[2015-10-04 15:25] soonhokong opened #165 "test failures - --ncbt option"
- [ ] exist_forall_01.smt2
 - [ ] exist_forall_zenna_01.smt2
 - [ ] exist_forall_zenna_03.smt2

[2015-10-04 15:30] soonhokong opened #166 "add options for ode timeout"
- [ ] --ode-timeout-forward
 - [ ] --ode-timeout-backward
 - [ ] --ode-timeout

[2015-10-04 15:30] soonhokong opened #167 "add option --ode-show-progress"

[2015-10-04 15:31] soonhokong opened #168 "ODE heuristics"

[2015-10-05 21:26] soonhokong opened #169 "CAPD4 bug?"
Reproduce Step
[code]

Output From CAPD
[code]

It seems that it hits https://github.com/dreal-deps/capdDynSys-4.0/blob/master/capdDynSys4/include/capd/diffAlgebra/Curve.hpp#L93-L94

[2015-10-05 21:31] soonhokong commented on #169
It occurs while solving https://github.com/dreal/dreal3/blob/master/src/tests/nra_ode/water-double_3.smt2, at a backward ODE pruning step.

It's only reproducible on a linux machine, not on a mac.

[2015-10-05 21:31] soonhokong opened #170 "README.md for C-API"

[2015-10-06 04:22] #164 closed

[2015-10-06 04:22] #166 closed

[2015-10-06 04:22] #169 closed

[2015-10-06 04:37] soonhokong commented on #14
Now (as of Oct 2015), we can handle this in 460sec (on a machine with Intel(R) Core(TM) i7-2600 CPU @ 3.40GHz):

[code]

Note that it used `--precision 0.001`. With `--precision 0.005`, it only takes 10sec. But the solution is less precise:

[code]

The test file (.smt2) is at https://github.com/dreal/dreal3/blob/master/src/tests/nra/slow/zenna_06.smt2.

[2015-10-06 04:37] #14 closed

[2015-10-06 04:39] soonhokong commented on #14
It's still slower than Z3 which you mentioned that solved this instance in milliseconds. I'll keep using this example to check our improvements.

[2015-10-06 04:40] #48 closed

[2015-10-06 04:55] soonhokong commented on #74
As of 5 Oct 2015, here are performances of different binaries. All cases solve `tests/nra_ode/pzuliani_01.smt2` file with `--precision 0.005` option.

 - statically-linked binary : 29.160sec
 - dynamically-linked binary : 17.173sec

It's still unclear to me why we have this difference. As I mentioned above,

It could be because each binaries is built with different floating-point-related compiler

[2015-10-06 04:55] #74 closed

[2015-10-06 04:57] soonhokong commented on #27
Now, we have `atan2` in IBEX and dReal3 outperforms dReal2 in non-ODE benchmarks. So, I don't think we need realpaver in dReal3.

[2015-10-06 04:57] #27 closed

[2015-10-06 04:58] soonhokong commented on #57
Done. See https://github.com/dreal/homebrew-dreal

[2015-10-06 04:58] #57 closed

[2015-10-06 04:59] soonhokong commented on #58
Done.

 - https://github.com/dreal/ppa-updater
 - https://launchpad.net/~dreal/+archive/ubuntu/dreal3/+packages

Still need to set up a cronjob to run the updater. I'll do this when we officially release dReal3.

[2015-10-06 04:59] #58 closed

[2015-10-06 08:00] pzuliani commented on #74
Great - many thanks Soonho!

[2015-10-06 13:18] shmarovfedor opened #171 "Wrong solution"
The model file:
[code]

dReach/dReal options:
[code]

The solution returned by dReach:
[code]

Expected output:
[code]

[2015-10-06 14:32] #171 closed

[2015-10-08 21:50] #167 closed

[2015-10-08 21:57] soonhokong opened #172 "add point-wise ODE solver for sampling"
https://www.gnu.org/software/gsl/manual/html_node/ODE-Example-programs.html#ODE-Example-programs

[2015-10-09 03:53] soonhokong commented on #172
GSL was added to dReal3 by 9dbf3feb69ee8207c59d8ae0b1c6cf9542db7b22. We have our own repo for gsl, https://github.com/dreal-deps/gsl-1.16

[2015-10-09 15:00] soonhokong commented on #172
Some discussion at GSL: https://sourceware.org/ml/gsl-discuss/2007-q2/msg00037.html

[2015-10-13 06:47] soonhokong commented on #172
Closed by 4d7bcd734ce25a5d4d7c294779dcdb4778176a8d, 15e5f274d3241ec29f0707e6c90a8ee2a1379b15

[2015-10-13 06:47] #172 closed

[2015-10-13 06:48] soonhokong opened #173 "parallelize under/overapproximation for ODE computation"

[2015-10-13 06:48] soonhokong opened #174 "implement Jacobian for GSL to have a better adaptive step control"

[2015-10-13 20:27] soonhokong opened #175 "add --random-seed <SEED> option to reproduce/test results"

[2015-10-14 19:56] soonhokong opened #176 "add interruptible thread"
reference: http://stackoverflow.com/questions/13893060/i-want-to-kill-a-stdthread-using-its-thread-object/13893381#13893381
reference: https://github.com/leanprover/lean/blob/master/src/util/interrupt.h#L50

[2015-10-14 22:05] soonhokong opened #177 "need to re-check flycheck"
Reference: http://dreal.cs.cmu.edu/kepler

[2015-10-15 07:32] soonhokong commented on #176
Chapter 9.2 of [C++ Concurrency in Action](https://www.manning.com/books/c-plus-plus-concurrency-in-action) is very useful. I also learned things from [another implementation](https://github.com/gman0/libhawk/blob/a0286868cfd43f7c101b5294984bf6a16474d6f3/src/include/Interruptible_thread.h).

[2015-10-19 21:27] soonhokong commented on #176
closed by 2f1bb639ea9a3e8a7e271a9a3fb039d7e90e1c28

[2015-10-19 21:27] #176 closed

[2015-10-19 21:28] #136 closed

[2015-10-19 21:28] soonhokong commented on #103
Move to #177

[2015-10-19 21:28] #103 closed

[2015-10-19 21:29] soonhokong commented on #94
Clang is enough.

[2015-10-19 21:29] #94 closed

[2015-10-19 21:29] #46 closed

[2015-10-19 21:30] soonhokong commented on #24
47fd563566b8422b13eab7eedb2d3814870371fb

[2015-10-19 21:30] #24 closed

[2015-10-19 21:30] soonhokong commented on #42
397d180497adc2e1c9558d75904ec56fc6c32586

[2015-10-19 21:30] #42 closed

[2015-10-19 21:35] #92 closed

[2015-10-19 21:47] soonhokong opened #178 "[dReach] add heuristics to handle constant-rhs ODEs"
Main motivation is to have explicit constraints between the global time variable `tau` and local time variables `time_i`. Many users are using `tau` to model the global time while we implicitly provide a local time variable `time_i` for each mode `i`. A common pattern is to have `d/dt[tau] = 1.0` in flows and `tau' = tau` in resets. A proposal is to generate the following constraints from dReach s

[2015-10-20 05:08] soonhokong commented on #178
closed by f19af40

[2015-10-20 05:08] #178 closed

[2015-10-20 16:02] soonhokong opened #179 "GSL build failure on Mac + gcc-4.9 combination"
reported by @danbryce

[code]

Reference: https://gcc.gnu.org/ml/gcc-bugs/2015-01/msg00473.html

[2015-10-20 16:15] soonhokong commented on #179
There are two gcc bug reports regarding this issue:
 - https://gcc.gnu.org/bugzilla/show_bug.cgi?id=64540
 - https://gcc.gnu.org/bugzilla/show_bug.cgi?id=66509

In short, there is a problem in `gcc-4.9.2` and it's resolved in `4.9.4` and `5.1.1`. @danbryce, could you try either one of the mentioned version (or `gcc-5.2.0` (homebrew)) and confirm that your build is working? I'll close this issue th

[2015-10-20 17:12] #179 closed

[2015-10-21 07:26] soonhokong opened #180 "need to profile memory footprint"

[2015-10-21 18:07] soonhokong opened #181 "support disjunctive mode-invariant (in forall_t)"
Note: we first need a data structure to represent a logic formula whose leaves are `nonlinear_constraint`s.

[2015-10-21 20:13] #86 closed

[2015-10-21 20:20] soonhokong opened #182 "handle a special case in ODE where time duration = [0, 0]"

[2015-10-21 20:37] soonhokong commented on #129
I'm checking this issue again, and I think this is not a bug. Consider the two examples:

Example1
[code]

Example2
[code]

As you see, example2 is checking the negation of example 1. Naturally you expect one of them returning SAT.

However, dReal returns UNSAT for both of them. This is because of the argument of `omega0 + omega1` whose lower bound is `1.031`. Note that `asin` is only defined in [

[2015-10-21 20:37] #129 closed

[2015-10-21 20:40] soonhokong commented on #26
another fix by fad6858f43fae149bb3154c2380d69b8966ab6b0

[2015-10-21 20:41] soonhokong opened #183 "setup cronjob for Ubuntu PPA release"

[2015-10-21 20:41] soonhokong opened #184 "setup cronjob for homebrew release"

[2015-10-22 15:39] soonhokong opened #185 "performance page"
need a systematic way of monitoring performance across different versions and different options

Reference
 - http://geoff.greer.fm/ag/speed
 - https://gist.github.com/soonhokong/b68780deb18e9569848c
 - http://cvc4.cs.nyu.edu/status

[2015-10-22 15:47] soonhokong commented on #185
Per test, we want to keep:

 - result (delta-sat/unsat)
 - running time
 - precision
 - model (if delta-sat)
 - stat info (# of prunings, # of branchings, # of checks, etc)

[2015-10-22 20:13] soonhokong commented on #183
See:
 - https://launchpad.net/~dreal/+archive/ubuntu/dreal/
 - https://dreal.github.io/download/
 - https://github.com/dreal/ppa-updater/

[2015-10-22 20:13] #183 closed

[2015-10-22 22:00] soonhokong opened #186 "rewrite dReach in C++"
Goal is to eliminate OCaml dependency from the codebase. Of course, it doesn't have a high priority though..

[2015-10-22 22:03] soonhokong opened #187 "failed test - push_pop_04.smt2"

[2015-10-26 00:54] soonhokong opened #188 "ibex::CtcFwdBwd doesn't set_empty properly"
reported by @danbryce

[code]

[code]

[2015-10-26 17:08] soonhokong commented on #188
- Reported to the IBEX team.
 - [dreal-deps/ibex-lib](https://github.com/dreal-deps/ibex-lib) got updated. Run `make update_ibex` to update your build.
 - Will close this one when the report is confirmed by the IBEX team.

[2015-10-26 21:18] soonhokong opened #189 "extend prune signature to carry a vector<box>"
From `void prune(box & b, ...)` to `void prune(box & b, ..., vector<box> & bin)`

This extension allows a pruning operator to return a set of boxes.

 - It can be used to handle a disjunction in a preciser fashion. When we handle a disjunction `C_1 \/ ... \/ C_n`, the current implementation prunes a given box b using each disjunct `C_i`. It gives us new boxes `b_i = C_i.prune(b)` and takes a hull

[2015-10-27 06:40] #20 closed

[2015-10-27 18:02] soonhokong commented on #188
Confirmed by the IBEX-team. See https://github.com/ibex-team/ibex-lib/issues/172

[2015-10-27 18:02] #188 closed

[2015-10-28 02:31] soonhokong opened #190 "--ode-sampling gives delta-sat for the UNSAT instances"
- [x] dan_02.smt2
 - [x] dan_03.smt2
 - [x] simple_par.smt2
 - [x] airplane-single_2.smt2
 - [x] pzuliani_02.smt2

[2015-10-28 18:47] danbryce opened #191 "ODE not handling time = 0 properly"
The instance below results in improper values being computed for v_0_t because (I think) time_0 = 0.

[code]

[2015-10-28 19:06] soonhokong commented on #191
For the record, this is related to #182.

[2015-10-28 19:22] soonhokong commented on #191
@danbryce: Does the following model make sense?

[code]

[2015-10-28 19:23] danbryce commented on #191
Yes!

[2015-10-28 19:24] soonhokong commented on #191
Great! I'll push it soon.

[2015-10-28 19:24] #191 closed

[2015-10-28 19:25] #182 closed

[2015-10-30 17:43] #175 closed

[2015-10-30 18:08] #180 closed

[2015-10-31 06:45] #184 closed

[2015-10-31 06:45] soonhokong commented on #184
See http://dreal.github.io/download/

[2015-10-31 17:08] soonhokong commented on #163
Duplication of #187

[2015-10-31 17:08] #163 closed

[2015-10-31 17:09] #63 closed

[2015-11-01 04:10] soonhokong commented on #126
Closed by 56245d8

[2015-11-01 04:10] #126 closed

[2015-11-01 04:12] soonhokong commented on #126
It's fixed now. But the above example is not working.

[code]

In the new implementation, we pre-process macros from top to bottom. In the definition of `dmC`, it's using another macro `mCf` which is not pre-defined. For this case, an easy fix is to switch the order of two macro definitions:

[code]

[2015-11-01 04:15] soonhokong commented on #126
Another consequence of recent changes is that you can't define a macro for the built-in functions. We used to have a hack to handle `tan` function as a macro in some `.drh` files such as

[code]

However, this is not valid anymore. Actually, you don't need it anymore since it's already handled properly.

[2015-11-02 02:53] #165 closed

[2015-11-05 05:25] soonhokong opened #193 "resolve reduce/reduce conflict in dreach parser (ocaml tool)"

[2015-11-05 05:26] soonhokong opened #194 "remove prefix drh models (in benchmark)"
We don't handle them any more (since a long time ago) and it's time to eliminate them (or convert into a infix format)

[2015-11-08 16:22] soonhokong opened #195 "CAPD throw IntervalError with an empty exception string"

[2015-11-08 16:23] soonhokong opened #196 "worklist-fp option gives UNSAT for nra_ode/water-triple-sat_1.smt2 which expect to be delta-SAT"

[2015-11-09 01:52] #194 closed

[2015-11-09 19:01] soonhokong opened #197 "invariant check results in problems in ODE solving"
@travelbureau reported this. We found that the recent version of dReal shows a slower performance with one of his examples. It's related to the invariant checking. When the invariant checking is turned on, it results in ODE exceptions, which slows down the solving.

[2015-11-09 20:07] #196 closed

[2015-11-09 20:08] soonhokong opened #198 "re-setup travis OSX build"

[2015-11-09 22:30] soonhokong commented on #195
It's because `IntervalError::what()` returns `c_str` of its **local** ostringstream `str`: https://github.com/dreal-deps/capdDynSys-4.0/blob/master/capdAlg/include/capd/intervals/IntervalError.h#L51-L57

I'll send a patch to the upstream.

[2015-11-10 03:02] soonhokong commented on #197
Example: https://github.com/dreal/dreal3/blob/master/src/tests/nra_ode/apex_0_0_sat.smt2

[2015-11-10 10:59] soonhokong commented on #195
Closed by https://github.com/dreal-deps/capdDynSys-4.0/commit/d28b9e2693ff30ee9a338d467ef902c7482e5a3e

[2015-11-10 10:59] #195 closed

[2015-11-11 05:16] #197 closed

[2015-11-11 13:35] soonhokong opened #199 "handling of ODEs with analytical solutions"
Starting from a simple case, i.e., ones with constant RHSs.

[2015-11-11 13:40] soonhokong opened #200 "collect used_constraints in ICP"
Every time a pruning operation of a contractor is called, it clears its `m_used_constraints`. So an ICP loop has to collect `used_constraints` and reassign to its contractor before the loop result is returned. Some test examples (with `--ncbt`):

 - osmosis-bounce-ML5.smt2
 - osmosis-bounce-ML6.smt2
 - osmosis-bounce-ML7.smt2
 - osmosis-bounce-ML8.smt2
 - tai_sin_03.smt2
 - new_cardiac_8m_47_0.smt

[2015-11-23 16:44] soonhokong opened #202 "add option to disable test programs"

[2015-11-23 16:44] soonhokong opened #203 "move dop to tools"

[2015-11-24 19:17] #203 closed

[2015-11-24 19:20] #202 closed

[2015-11-24 19:23] soonhokong opened #204 "no precision output"
In case of delta-sat, we added `with delta = 0.00100000000000000` message in the commit b3ca0ae2c171257fdc1ec7b1f39254667de68f3a. We realize that it breaks backward compatibility (between dReal2 and dReal3). A plan is to add `--no-precision-output` to disable this message.

[2015-11-24 20:05] #204 closed

[2015-12-07 16:30] soonhokong opened #205 "replace GSL with CAPD using non-rigorous ODE integration"
Reference: http://mnich.ii.uj.edu.pl/capd/doc4/odes_timemap.html
Related issue: #190

[2015-12-10 21:32] soonhokong opened #206 "install include/lib in "make install""
For now, it only installs binaries.

[2015-12-18 11:42] xiedingbao opened #207 "How to check a subset of a constraint set repeatedly"
Suppose I have a a set of constraints and want to check the satisfication of its
subset repeatedly until get an expected result.
From my experience using z3, I can think of three ways to do that, but not sure whether dreal3 supports them.
*  push/pop
[code]
have tested the code with drel3, seems incorrect.

*  check_assump
[code]
I get a seg fault when doing opensmt_mk_and_2 multiple times.
opensm

[2015-12-20 20:20] soonhokong commented on #207
@xiedingbao, the first method using push/pop should work but it has some problem in the implementation. I'll let you know when I fix that.

[2015-12-21 03:10] xiedingbao commented on #207
How about the third method? It's the basic way to solve my problem. But I don't know how to clear the constraints in the model. Could you explain the usage of the API opensmt_reset?

[2015-12-21 08:14] soonhokong commented on #207
I think it should work, but it should be much slower than the first method. Anyway, I plan to fix the push/pop problem, so allow me some time, then I'll get back to you with a fix.

[2015-12-29 05:50] #205 closed

[2015-12-29 05:51] #187 closed

[2015-12-29 05:51] #190 closed

[2015-12-29 05:52] soonhokong commented on #207
@xiedingbao, please try the latest version and check `push`/`pop` work as expected. If you find an unexpected result, please share the test case(s).

[2015-12-30 09:14] xiedingbao opened #208 "Question about the API opensmt_reset"
Why the following code outputs "unsat unsat"
[code]
If I understand 'opensmt_reset' correctly, it aims to clear all the constraints in the current model.

[2015-12-30 16:03] soonhokong commented on #208
I'm on it.

[2015-12-30 18:06] soonhokong commented on #208
I checked that this behavior comes from DPLL side of the solver, not from the theory solver. Anyway, I'll further investigate and let you know.

In the meantime, you can use the push/pop interface to achieve what you wanted to do. Please try the following code:

[code]

[2015-12-30 18:08] soonhokong commented on #208
@xiedingbao, I've just updated my previous comment. Please check it on the Github.

[2015-12-30 18:10] #207 closed

[2015-12-30 21:40] zell08v opened #209 "Benchmark 710 of Flychecker reported SAT on your Website, but UNSAT following Mathsat and Z3"
Hello,  I have a question about your benchmark result published at http://dreal.cs.cmu.edu/kepler/

The benchmark 710 (of Flychecker) is reported 'sat', but I have tried Z3 and MathSAT on the same benchmark. They both report that 710.smt2 is in fact 'unsat'.   Maybe I misunderstand something? Thanks.

[2015-12-30 21:49] soonhokong commented on #209
@zell08v, try to run the instance with `--polytope` option, it should give `UNSAT` within 0.01 sec.

[2015-12-30 21:51] soonhokong commented on #209
For instances only including higher-order polynomials, it's better to run with `--polytope` option. If you do not use `--polytope` option, you need to use `--precision 0.000001` to get `UNSAT` but it will take quite a lot of time since it's not using polytope contractor.

[2015-12-30 21:51] #209 closed

[2015-12-30 23:46] zell08v commented on #209
Thanks. Then,  why on your webpage it is said 'sat'? Below is the screenshot from your Kepler site: http://dreal.cs.cmu.edu/kepler/:

<img width="785" alt="b6e1c65e-6b42-49d2-ad21-bc3b1b99dcc5" src="https://cloud.githubusercontent.com/assets/3586263/12059229/4efbd1a0-af0c-11e5-8813-14e8b92dd5ba.png">

[2015-12-30 23:48] zell08v commented on #209
I meant: if 710.smt2 is actually unsat, why it is marked 'sat'  on your web? Did I misunderstand something?

[2015-12-30 23:50] soonhokong commented on #209
The webpage is outdated, we will update it soon.

Also, please understand that `sat` in dReal really means `delta-sat`, that is, a numeric perturbation of the formula is satisfiable. In many cases, It's possible to have a `delta-sat` by using a big enough precision value.

[2015-12-30 23:55] zell08v commented on #209
Thanks for your explanation. I will then check out your webpage later.

[2015-12-31 16:13] zell08v commented on #209
By the way, I have a naive question. What are typical things dReal can do but  Z3 or MathSAT cannot? For the benchmark I mentioned above at least, they both can prove UNSAT for the benchmark I mentioned above within 0.01 seconds on my laptop.  I guess it is useful that you use them to cross-check your benchmark results.

[2015-12-31 16:15] scungao commented on #209
Try benchmarks such as
https://github.com/dreal/dreal3/tree/master/benchmarks/smt2/microfluidics
https://github.com/dreal/dreal3/tree/master/benchmarks/smt2/with_odes

[2015-12-31 16:47] zell08v commented on #209
Thanks a lot. I have just tried some of your provided benchmarks but unfortunately I do not yet find benchmark that  Z3 or Mathsat  parses. It seems the operator '^' (power)  or QF_NRA_ODE logic is not supported by them. (They should  not be in the SMT2 standard, anyway.)

So, the comparison based on these benchmarks can be unfair. To reformulate my question: are there benchmarks that both dReal a

[2015-12-31 17:09] scungao commented on #209
We focus on highly nonlinear problems which most solvers don't handle right now. The majority of them are non-polynomial, but if you have big polynomial expressions dReal may have an edge, for instance
https://github.com/dreal/dreal3/blob/master/benchmarks/smt2/nikos_01.smt2
and the ones similar to it. In general we pay more attention to benchmarks from realistic applications (robotics, biology, A

[2016-01-02 09:12] xiedingbao opened #210 "strange behavior related to push/pop"
[code]
The expected output is 'unsat sat unsat'.
The real output is 'unsat sat sat'.

[2016-01-02 20:33] soonhokong commented on #210
@xiedingbao, thanks for the report. I'm working on it.

[2016-01-03 09:24] soonhokong commented on #210
This is a bug that we inherited from OpenSMT implementation. What's happening is that the first `opensmt_pop` pops not only `i1`, `i2`, and `i3`, but also the three implication that it created before `opensmt_push`. I'm working on a fix.

[2016-01-03 21:01] soonhokong commented on #210
@xiedingbao, I fixed the problem, please try the new release which is available at https://github.com/dreal/dreal3/releases/tag/v3.16.1

[2016-01-03 21:01] #210 closed

[2016-01-03 21:01] #208 closed

[2016-01-05 07:31] xiedingbao commented on #210
This version fixs the bug I posted. But still give incorrect result in my application and the performance is worse than checking from scratch. I decide to not use implications to manipulate the constraints in the model.

[2016-01-05 15:38] soonhokong commented on #210
Could you share the instances with me?

[2016-02-11 04:30] soonhokong opened #212 "thread-safe contractor factory"

[2016-02-11 04:30] soonhokong opened #213 "add #include in dReach syntax"

[2016-02-11 04:31] soonhokong opened #214 "add array support in dReach syntax"

[2016-02-12 04:16] soonhokong opened #215 "show invariant violation when --ode-show-progress is on"

[2016-02-12 17:33] soonhokong opened #216 "add options to set CAPD absolute/relative tolerance"

[2016-02-12 17:44] #215 closed

[2016-02-12 18:31] soonhokong opened #217 "upgrade CAPD4"
encountered some build issues.

[2016-02-13 05:13] soonhokong commented on #217
Closed by 298c70f21fb87e4662b8d04dd079f68facd318a1.

 - had to upgrade `boost.m4` https://github.com/dreal-deps/capdDynSys-4.0/commit/ead22f985c30f851cd8c7817b8cc432db1daafcb
 - `RemoveConst.h` was missing https://github.com/dreal-deps/capdDynSys-4.0/commit/dae294d2a018835d9de148fb480ab1fb5be3091f

[2016-02-13 05:13] #217 closed

[2016-02-14 04:26] soonhokong opened #218 "option for ODE trace"

[2016-02-14 04:29] soonhokong opened #219 "some enhancement for ODE visualization"
- drag-drop location
 - automatically adjust the height

[2016-02-16 22:23] soonhokong opened #220 "extend pruning operators to take clause_manager"
and pass pruning results to the clause_manager

[2016-02-24 20:01] mtrberzi opened #222 "dReach cannot run dReal; usage message for dReal is displayed and exits immediately"
I'm trying to do some work with dReach, but the frontend seems to have trouble invoking dReal correctly. I've been able to reproduce this on dReal v3.16.1.01 commit 156be53c7e18 with a file I generated by hand as well as one of the benchmark input files.

`dReach -k 1 -l 1 dreal3/2d_oscillator.drh`
produces the following output:
[code]

Let me know if you need more information.

[2016-02-24 21:21] soonhokong commented on #222
Hi @mtrberzi,

Could you send me the `drh` file and the output of `pwd` in your working directory?

[2016-02-25 16:21] mtrberzi opened #224 "dReach code generation error: undefined symbol"
Attached here [parallel-capacitor.drh](https://github.com/dreal/dreal3/files/146881/parallel-capacitor.drh.txt) is a dReach model I've written by hand, and attempted to run using `dReach -k 1 -l 1 parallel-capacitor.drh`. When dReal is invoked, the solver aborts with the following error:

[code]

The same occurs if I manually run dReal with the SMT2 file that is generated by dReach. dReach's parse

[2016-02-25 16:26] soonhokong commented on #224
@mtrberzi, please add something like the following to the `drh` file.

[code]

You had `d/dt[VR1v] = ( (Vsource / R1) - VR1i - (VR1v / R1)  ) / C1` in the file, but didn't specify the RHS of ODEs for the variables `R1`, `C1`, `VSource`, and `Rcenter`. For now, it's required to provide the RHS of each variables in a system of ODEs.

[2016-02-25 16:28] soonhokong commented on #224
Does it also resolve #222? If not, please let me know.

[2016-02-28 06:40] #224 closed

[2016-03-01 17:24] mtrberzi commented on #224
It seems to be running now. Thank you for the advice. Just to clarify, this applies to any variable that's mentioned in an ODE?

[2016-03-01 17:25] mtrberzi commented on #222
After applying the corrections suggested in #224 I still encounter this problem when invoking dReach as shown above.

[2016-03-01 17:51] soonhokong commented on #224
Yes, this is the case.

[2016-03-01 17:52] soonhokong commented on #222
@mtrberzi, could you send me the .drh file?

[2016-03-02 06:50] mtrberzi commented on #222
Sorry, my mistake; I was using an old script which had the wrong command line parameter.

[2016-03-02 06:50] #222 closed

[2016-03-02 06:51] soonhokong commented on #222
@mtrberzi, it's OK. When you have other questions, please feel free to either open an issue or send me an email.

[2016-03-25 18:27] soonhokong commented on #19
Fixed by 247a797

[2016-04-03 15:18] soonhokong opened #229 "make glpk optional"
When running cmake, have `-DUSE_GLPK=ON` to enable it. By default, this is `OFF`.

In C/C++ code, make sure to include `./config.h` and use `#ifdef USE_GLPK` to wrap GLPK-related code.

[2016-04-03 15:49] #229 closed

[2016-04-04 17:23] #206 closed

[2016-04-04 18:41] soonhokong opened #230 "translated unsupported functions in CAPD4"
CAPD4 handles the following functions:

 - arithmetics (+-*/)
 - pow(^)
 - exp
 - log
 - sqrt
 - sqr (which is x ^ 2)
 - sin
 - cos
 - atan
 - asin
 - atan

We've already added a translation for `tan`, `tan(x) = sin(x) / cos(x)`.

We need to add the followings:

 - sinh(x) = (exp(x)  - exp(-x)) / 2
 - cosh(x) = (exp(x)  + exp(-x)) / 2
 - tanh(x) = (exp(x)  - exp(-x)) / (exp(x)  + exp(-x))
 - atan2

[2016-04-04 19:13] #230 closed

[2016-04-04 19:29] soonhokong opened #231 "error message for unspecified ODE variable"
For now, it's hard to diagnose the problem when there is an ODE variable whose definition is not provided. For example, in the following `drh` file, `I_stim` is used on the RHS of `v` but its definition is not provided:

[code]

This is a typical error where a user forget to add `d/dt[I_stim] = 0` in this case. However, dReal doesn't explicitly complain about this.

[2016-04-04 19:31] #231 closed

[2016-04-04 19:31] soonhokong commented on #231
[code]

[2016-04-09 11:59] Heizmann opened #232 "cannot be handled by any TSolver"
While running dReal-3.16.04-linux on the [attached SMT script](https://github.com/dreal/dreal3/files/211202/eindhoven.smt2.txt) I obtain the following error message.

    # WARNING: Running in INCOMPLETE mode
    # Error: (<= (* -1 motzkin_2_0) -0)  cannot be handled by any TSolver. Did you disable some solver in the configure file ? (triggered at /usr0/home/soonhok/work/dreal3/src/opensmt/egraph/

[2016-04-09 12:07] soonhokong commented on #232
@Heizmann, please try to use `(set-logic QF_NRA)` instead of `(set-logic QF_LRA)`. It gives me the following result:

[code]

Also, please have `(exit)` at the end of script.

[2016-04-09 12:50] Heizmann commented on #232
Thanks for the hints. I used the wrong logic accidentally.

[2016-04-09 12:50] #232 closed

[2016-04-09 12:59] Heizmann opened #233 "Best parameters for some script"
A satisfying assignment for the [attached SMT script](https://github.com/dreal/dreal3/files/211251/disjuctiveInvariant01.smt2.txt) allows me to find an invariant for a simple loop.
The release dReal-3.16.04-linux does not provide a solution within a few minutes. I do not use any parameters. Are there some parameters for which a solution is found?

I am not sure if the issue tracker is the right pl

[2016-04-09 16:13] soonhokong commented on #233
@Heizmann, it seems that the problem is mostly linear and includes a few high-order polynomial constraints. In this case, it's better to use [Z3](https://github.com/Z3Prover/z3/). Please have `(get-model)` between `(check-sat)` and `(exit)`. You will get the model in the end of solving.

[2016-04-09 16:13] #233 closed

[2016-04-11 16:10] soonhokong opened #235 "uncaught exception from CAPD"
[code]

[code]

[2016-04-13 22:03] #235 closed

[2016-04-21 14:44] soonhokong opened #237 "--multiheuristic option shows non-deterministic behaviors in return"
@clhuang and @dzufferey, could you take a look at this problem when you have some time?

I have been testing `--multiheuristic` option with hard instances. I found that using the option changes the return value (delta-sat/unsat) from a run to another run. Here is an example:

[code]

Another symptom is that sometimes dReal returns delta-sat with a witness box (B). However, the width of the box |B|

[2016-04-21 14:48] soonhokong commented on #237
FYI, I added ctest label for `--multiheuristic` and `--multiprune` options. For example, try `ctest -R nra_multiheuristic --output-on-failure` in your build directory after building dReal. More information about ctest options is available at https://cmake.org/cmake/help/v3.0/manual/ctest.1.html.

[2016-04-22 05:52] clhuang commented on #237
So I've tried a couple things, and I've been able to reproduce the issue, even when there's no data being shared between the threads (i.e. the common hull is not accessed or modified by either thread); essentially, the threads are just running independently (see [clhuang/dreal3:bugfix](https://github.com/clhuang/dreal3/blob/bugfix/src/icp/icp.cpp#L219)), up until the point that one finishes.

Desp

[2016-04-22 10:40] soonhokong commented on #237
You're right, `contractor` class has a state which can be changed by calling `prune` method. Internally (in `contractor_cell`), I have a way to save/restore a state. I'll expose them as public API of `contractor` class so that you can use it. I'll ping you when it's ready.

[2016-04-22 16:28] clhuang commented on #237
I'm pretty sure it's a contractor issue at this point. I've tried it on 13.smt, which has a solution at X=2.40, Y=0.675, and when printing out the X and Y ranges (BEFORE/AFTER refer to the state of the box before and after the contractor call, and the following number is the thread number):

 AFTER0 X: [2.36998, 2.45647] Y: [0.66861, 0.686114]
 BEFORE1 X: [2.20008, 2.51301] Y: [0.632766, 0.697291]

[2016-04-22 17:11] soonhokong commented on #237
It's not ideal, but the size of this state is quite small. Two bit-vectors of size N and one set of pointers. Let's see how big the performance penalty this change can make.

[2016-04-24 14:31] soonhokong commented on #237
@clhuang, I added another function to `src/icp/icp.cpp` in cf6c419:

It's a derivation of the function that you used to call, `void prune(box & b, contractor & ctc, SMTConfig & config, std::unordered_set<std::shared_ptr<constraint>> & used_constraints)`. The difference is that 1)  `test_prune` doesn't take `std::unordered_set<std::shared_ptr<constraint>> &` anymore, and 2) it keeps the internal st

[2016-04-24 14:32] soonhokong commented on #237
Also, please feel free to add more `assert` in the code, or testcases under `src/tests`.

[2016-04-25 03:02] clhuang commented on #237
It still returns unsat I think there's some more state in contractor, beyond the output bit vector and the used constraints, because if you look at [contractor_common.h](https://github.com/dreal/dreal3/blob/master/src/contractor/contractor_common.h#L136) it seems that the bitvector and the used_constraints get cleared no matter what. Is it possible there's more state involved, say in the sub-contr

[2016-04-25 03:06] soonhokong commented on #237
@clhuang, you're right. I think I need to introduce `test_prune` to all the subclasses of `contractor_cell`. I'll do that soon.

[2016-04-25 22:16] dzufferey commented on #237
@soonhokong Rather than having a state in the contractor, would it make more sense to make the contractor as pure as possible, i.e., modulo IBEX, and carry any state used by the contractor as part of a state monad (or something along those lines) that is explicitly passed as argument.
The SMTConfig object is already carried around. Could we generalize that to into an object that carries any state

[2016-04-26 03:48] soonhokong commented on #237
@dzufferey, I see. I agree that this is better and fits better with what we've discussed before (clause manager, proof objects).

[2016-04-26 05:12] clhuang commented on #237
@soonhokong, @dzufferey, are there any current efforts to refactor the contractor?

[2016-04-26 09:45] soonhokong commented on #237
Not right now.. I'll do it after Thursday.

[2016-05-02 19:07] soonhokong commented on #237
I'm on it now. For now, `contractor_status` will include `b : Box`, `output : ibex:BitSet`, `used_constraints : set of constraints`. Later, I'll add `clause_manager` and `proof_manager` to integrate learning and proof generation.

[2016-05-06 22:04] soonhokong opened #240 "failed testcases"
[code]

[code]

[code]

[2016-05-08 05:48] soonhokong commented on #240
6f71876f81c974219133621d23af5de7acfae1a9 ---    1158 - c_api_imply_push_pop (Failed)
9208ebcbdf58dc8097077d2e662f5f92e60974fa ---    1177 - ibex_defaultoptimizer (Failed)
68ff71491dec143d49baa7475d41d79db204d7ec ---    1819 - regression_drh_bouncing_ball.drh (Failed)

[2016-05-08 05:50] soonhokong commented on #240
#237 will take care of the failures related to `multiheuristic` and `multiprune`.

[2016-05-08 07:36] soonhokong commented on #240
fdc9b71 6e5d86e -- 797, 798, 799, 808, 809, 810

[2016-05-08 07:36] #240 closed

[2016-05-09 16:07] scungao opened #241 "probably tanh bug"
Check the following dr file. It's trying to see if this big function nn is close to tan near the origin. x1 is the only argument. dReal returns delta-sat saying nn can be huge. But it shouldn't be.

[0,0.000001] x1;
[-1000,1000] nn;
ctr:
nn = (971257242.67759383 * (tanh((-0.83136651156762431 * x1 + -1.3890441137474736) / 2)) + -568873673.47067046 * (tanh((-0.97920630516730212 * x1 + -1.44021303681

[2016-05-10 21:04] soonhokong opened #242 "power(0, 0) exception from CAPD"
[benchmarks/drh/bouncing_ball/bouncing_ball.drh](https://github.com/dreal/dreal3/blob/master/benchmarks/drh/bouncing_ball/bouncing_ball.drh) generates exceptions. For example, here is one:
[code]

It turns out that the exception comes from CAPD and it seems that it's related to its derivation routine. When I replace `v^1` with `v`, the problem goes away. I'll do the following:

 - Do preprocessing

[2016-05-10 21:04] soonhokong commented on #242
Also, need to update the benchmark to include the `v^2` case.

[2016-05-12 05:25] soonhokong commented on #242
Send an email to CAPD team. Closed by 462ffb2.

[2016-05-12 05:25] #242 closed

[2016-05-13 10:49] soonhokong commented on #242
CAPD team made a patch (adding simplification routines). I'll update `dreal-deps/capd4` repo soon.

[2016-05-13 13:01] cgd8d opened #243 "Forall problems in DNF form trigger assertion."
Current behavior is to trigger an assertion in translate_enode_to_exprctr which is rather cryptic; preferred behavior is to provide a more descriptive error, or handle DNF format.

Example input to trigger issue:

[code]

[2016-05-13 13:02] cgd8d opened #244 "Atoms containing only forall variables trigger assertion."
In contractor_generic_forall::handle_disjunction, "boxes" gets one entry for every variable of type "exists".  When there are no "exists" variables, boxes is an empty vector, and hull(boxes) raises an assertion.

Example input to trigger issue:

[code]

[2016-05-13 14:30] soonhokong commented on #243
Thanks, I'll check.

[2016-05-13 14:30] soonhokong commented on #244
Thanks, I'll check.

[2016-05-20 16:30] #241 closed

[2016-05-22 14:00] scungao opened #246 "polytope bug"
The polytope option has a bug at the boundary of the domain of some functions. For instance:

[code]

It checks whether x2 = arcsin(x1) has a solution at x1=1. With polytope option it returns unsat (without it the answer is correct). Same behavior for arccos.

[2016-05-22 15:31] soonhokong commented on #246
I checked that this bug is not from IBEX.

There is a bug in constructing ibex system from dReal side. I'm fixing it.

[2016-05-22 15:40] soonhokong commented on #246
The given system is square (two variables and two equalities -- `x1 = 1` and `x2 = asin(x1)`). For a square system, we call newton contractor in addition to polytope hull contractor. It seems that the problem comes from newton. I'll check IBEX part first..

[2016-05-22 15:42] soonhokong commented on #246
For example, if we replace:

[code]

with

[code]

the problem goes away. Of course, the problem is still there.

[2016-05-22 19:17] soonhokong commented on #246
I can confirm that this is IBEX issue. I'll open an issue at upstream.

[2016-05-22 19:22] soonhokong commented on #246
Here is a repro-step:

[code]

You have:
[code]

[2016-05-22 19:25] soonhokong commented on #246
An issue is created at IBEX repo. I'll update it when I get a response from the team.

[2016-05-23 21:06] soonhokong commented on #216
http://mnich.ii.uj.edu.pl/capd/doc4/odes_timemap.html#odes_nonrig_step_control

[2016-05-23 21:58] #216 closed

[2016-05-27 19:48] soonhokong commented on #246
The upstream bug is fixed by the ibex team and I've updated `dreal-deps/ibex` repo. Please do `make update_ibex && make`. It will do the update and rebuild dReal. I'll release a new version soon (for this one + CAPD power bug reproted by Nicola).

[2016-05-27 19:48] scungao commented on #246
nice:)

[2016-05-31 18:52] soonhokong opened #247 "implement functionality for --delta"
feature requested by @scungao

[2016-05-31 22:32] soonhokong opened #248 "segmentation fault"
Nicola reported:

[code]

[code]

[2016-06-01 19:44] soonhokong commented on #248
It turns out that it's clang-3.8 problem. I've switched back to clang-3.6 to generate pre-compiled binaries on OSX.

[2016-06-01 19:44] #248 closed

[2016-06-02 08:02] soonhokong commented on #247
[code]

[code]

[2016-06-02 21:40] soonhokong commented on #247
Closed by 8abeb182d66bfdb3519aa94525daf7706c676518, e0c334ffbf39d0dba08dd97d6d5186327350bf06, 7804257c2e53e26c929fba7bf24ffcf8f3c5bafc.

Note that it doesn't support exist-forall cases yet.

[2016-06-02 21:40] #247 closed

[2016-06-02 21:41] soonhokong commented on #247
`--range-delta` works as well.

[2016-06-03 21:08] soonhokong opened #249 "contractor-refactor test failures"
- `--delta` + exist/forall cases are expected to fail
 - `--multiheuristic` is not properly implemented with the new contractor framework yet
 - `19.smt2` indicates an existing problem in IBEX + Polytope option.

Out of 2067 test cases, we have the following failures. I'll fix them soon.

[code]

[2016-06-05 06:07] soonhokong commented on #249
Remaining cases:
[code]

[2016-06-05 06:51] soonhokong commented on #249
All fixed now.

[2016-06-05 07:04] soonhokong commented on #237
@clhuang and @dzufferey:

I've just pushed refactored contractor code to the `master` branch. Here are some comments:

 - `--multiprune` is working but `--multiheuristic` is not working yet. (anyway, we need to solve the thread-safety issue first). For now, I've commented out the implementation of `--multiheuristic`.

 - In [SizeGradAsinhBrancher::score_axes function in icp/brancher.cpp](https://g

[2016-06-06 02:05] dzufferey commented on #237
Thanks @soonhokong

When I have some spare cycles, I'll start looking into how to adapt the proof/interpolation infrastructure to the new contractors.

About the `multiprune`, checking before pushing on the stack avoids putting empty boxes on the stack that should make it a little bit faster. For the loop doing the branches, it should be correct even if the boxes are empty. `hull` and `intersect`

[2016-06-06 13:51] #249 closed

[2016-06-06 15:03] soonhokong commented on #237
@dzufferey, thanks for the comment. I'll make a patch, open a pull-request. Please review the PR when it's ready.

Great. I'll make a proof-object class and re-introduce what we had in dReal2. We can start from there and improve things.

[2016-06-08 11:27] soonhokong opened #251 "segmentation fault in static build (Linux + pthread)"
- @pzuliani reported.
 - See http://stackoverflow.com/questions/7090623/c0x-thread-static-linking-problem
 - For now, a temporary solution is to introduce a compile-time flag for static build, and disable the use of multithread when we build a static binary in Linux.

[2016-06-08 12:15] soonhokong opened #252 "segmentation fault in CoreSMTSolver::pickBranchLit"
It's from https://github.com/dreal/dreal3/blob/master/src/opensmt/smtsolvers/CoreSMTSolver.C#L712-L715

[2016-06-08 12:17] soonhokong commented on #252
@zenna, this is why Travis-CI is failing now: https://api.travis-ci.org/jobs/136129836/log.txt?deansi=true
I'll fix this one soon.

[2016-06-08 15:04] soonhokong opened #253 "segmentation fault in examples/control_examples.cpp"
- reported by @scungao, who suspects that it's a memory-related issue
 - https://github.com/dreal/dreal3/blob/master/examples/control_examples.cpp#L247-L248

[2016-06-08 15:16] soonhokong commented on #252
It turns out that this is a duplicate of https://github.com/dreal/DReal.jl/issues/10.

[2016-06-08 15:16] #252 closed

[2016-06-08 19:50] soonhokong opened #254 "possible problem in bisection"
- reported by Daniel Ricketts
[code]

The problem is UNSAT. But it returns delta-SAT:
[code]

[2016-06-09 21:28] soonhokong commented on #254
For the record, this problem is due to our choice of native floating-point in the implementation. Given an interval `I = [l, u]`, if `l` and `u` are pretty big (i.e. > 1e13), we have a case where the following holds:

 - `|[l, u]|` > precision (i.e. 0.001)
 - However there is no mid point `m` in native FP, where `l < m < u`

In the current implementation, we detect that the interval `I` is not *bi

[2016-06-09 22:00] soonhokong opened #255 "an optimization problem gives unsat"
[code]

[2016-06-09 22:00] soonhokong commented on #255
From https://github.com/dreal/DReal.jl/blob/master/test/optimize.jl

[2016-06-10 04:57] soonhokong commented on #254
a1dabbd adds warnings such as:

[code]

[2016-06-10 04:57] #254 closed

[2016-06-10 05:22] soonhokong commented on #218
Closed by a561673 and 369caf8

[2016-06-10 05:22] #218 closed

[2016-06-10 05:22] #200 closed

[2016-06-10 05:26] soonhokong commented on #186
For the record, here is an implementation in ProbReach: https://github.com/dreal/probreach/blob/master/src/util/algorithm.cpp

[2016-06-10 05:28] soonhokong opened #256 "ibex newton test fail"
[code]

[2016-06-10 06:14] soonhokong commented on #256
[code]

[2016-06-10 06:16] soonhokong commented on #256
This is a duplicate of #246. There is a remaining problem in `ibex::Function::hansen_matrix, line 112`.

[2016-06-10 06:16] #256 closed

[2016-06-10 08:39] soonhokong commented on #246
Fixed by https://github.com/dreal-deps/ibex-lib/commit/59642a0a5e29d0f1d5f772894904291c4974b2d5. Users need to do `make update_ibex`.

[2016-06-10 08:39] #246 closed

[2016-06-10 08:45] soonhokong commented on #255
Another one: https://github.com/dreal/DReal.jl/blob/master/test/forall1.jl

[2016-06-10 11:33] soonhokong commented on #246
IBEX team confirmed this patch.

[2016-06-12 17:19] soonhokong opened #257 "--slack-level test failure"
[code]

[code]

[2016-06-14 02:17] #257 closed

[2016-06-14 02:18] soonhokong commented on #257
By 2ef25c7

[2016-06-14 03:00] soonhokong opened #258 "--slack-level 3 failures"
[code]

[2016-06-14 03:06] scungao commented on #258
Yeah I don't think level 3 will be useful; this should be easy to fix but I'll put it on low priority.
Level 1 separates top level linear/nonlinear and should be all we need. Level 2 is introducing too many variables already and should only be useful on special benchmarks.

[2016-06-16 23:45] narechiga opened #259 "dReal v3.16.06 gives only upper bound when finding a model of "x > 0""
Correct output is [0, +INFTY], but dReal returns [ +INFTY]. Added the smt2 and smt2.model files in a zip, because apparently github doesn't like smt2/smt2.model files.

[badquery.zip](https://github.com/dreal/dreal3/files/319548/badquery.zip)

[2016-06-17 02:36] soonhokong commented on #259
Further discussion revealed that it's due to the way we print out intervals with infinity. See [the code in the filib++](https://github.com/dreal-deps/filibxx/blob/master/interval/interval.icc#L1109-L1112) that we're depending on.

We agree to change the code so that we have `[+INFTY, +INFTY]` for `+oo` and `[-INFTY, -INFTY]` for `-oo`.

[2016-06-17 02:45] soonhokong commented on #259
Now it outputs:
[code]

[2016-06-17 02:47] soonhokong commented on #259
You need to do `make update_pkgs`. I also picked up new commits for the new version of IBEX. I'll run regression tests and release a new version.

[2016-06-17 03:10] narechiga commented on #259
main concern is with the model file--what will the model file show?
On Jun 16, 2016 7:45 PM, "Soonho Kong" <notifications@github.com> wrote:

[2016-06-17 03:16] soonhokong commented on #259
@narechiga, it's the same `[+INFTY, +INFTY]`:

[code]

[2016-06-17 05:41] soonhokong commented on #259
Closed by https://github.com/dreal-deps/filibxx/commit/614c01ba587ddff84b9fc144064cbf453398a668.

[2016-06-17 05:41] #259 closed

[2016-06-21 14:27] soonhokong commented on #258
I'll do the following and close this issue:
 - [ ] delete `--slack-level 3` tests
 - [ ] disallow `--slack-level 3` for now. Later, you can enable it.

[2016-06-21 14:28] scungao commented on #258
Great, thanks.

On Tue, Jun 21, 2016 at 10:27 AM, Soonho Kong <notifications@github.com>
wrote:

[2016-06-21 15:05] #258 closed

[2016-06-21 19:47] soonhokong opened #260 "check negated forall_t"

[2016-06-21 19:47] soonhokong commented on #260
For the record, this has low priority.

[2016-06-21 23:48] soonhokong opened #261 "polytope contractor memory footprint"
- reported by @pzuliani

[code]
 - possibly related to `--slack-level` option

[2016-06-23 12:27] soonhokong opened #262 "handle constants as intervals"
Without this, for example, the following fails:

[code]

There are more than one layer to fix:
 - how to represent constants in `Enode` - done by f3b79530577ba20ed545cd0052229ba4e75aa3f4
 - simplification - done by 727b145d7dcd217d3c756da2f9cc1881465bccc0
 - contractors (i.e. IBEX) - done by bec7e4e9c0b83d7fcebf937b376ab0d6c0da0193

[2016-06-23 16:14] soonhokong commented on #262
There was a problem in `strtod` function which parses a `char const *` to `double` . eglibc (<= 2.16) doesn't honor rounding mode. As a result, some tests fail in Ubuntu-12.04. I've added a custom `strtod` function (from [1]) as a workaround. Now it works on Ubuntu-12.04.

[1]: http://www.netlib.org/fp/dtoa.c

[2016-06-23 17:08] soonhokong commented on #262
While testing, I found a case where this custom version is not correct. It violates the invariant `lb <= ub`. Possibly it's my mistake, I'm checking things..

[2016-06-23 17:28] soonhokong commented on #262
Updated to the latest version of `dtoa.c` and it seems that it works. When testing finishes, I'll update the repo.

[2016-06-23 17:38] #262 closed

[2016-06-25 20:54] soonhokong opened #265 "stephen_01.smt2 + --lp-icp option"
[code]

Stacktrace:
[code]

[2016-06-26 20:57] githwxi opened #266 "Crash"
I was testing the parser of dReal.

I observed a silent core dump when trying dReal on the following input (which was automatically generated). It seems that some run-time checks are needed...

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;
;;By [patsolve_smt2]:
;;
(declare-sort s2rt_cls 0)
(declare-sort s2rt_eff 0)
(declare-sort s2rt_type 0)
(declare-sort s2rt_vtype 0)
(declare-sort s2rt_t0ype 0)
(declare-so

[2016-06-27 18:40] soonhokong commented on #266
@githwxi, thanks for the report. Here, the main issue is that it doesn't have `(set-logic QF_NRA)` in the beginning.

[2016-06-27 18:42] soonhokong commented on #266
- We don't support `gt_real_real`, please use `>` instead (same things apply for `gte_real_real`, etc).
 -  `int2real` is not supported and actually not necessary in dReal.

[2016-06-27 18:44] githwxi commented on #266
Thanks. I will get rid of the define-funs soon. So far I am testing the smt2-parser of dReal.

[2016-06-27 18:49] soonhokong commented on #266
Thanks for doing that. Please let us know if you find any problems.

[2016-06-27 18:50] githwxi commented on #266
int2real is mapped to 'to_real'

In SMT-LIBv2, there is a specified function of the name 'to_real' for the Reals_Ints theory.

Maybe you could handle it in dReal in a special way?

[2016-06-27 18:52] soonhokong commented on #266
@githwxi, I'll find a way.

[2016-06-27 18:55] githwxi commented on #266
By the way, in cvc4, if set-logic is not called, then some kind of default
logic is used *and* a warning message is issued. Seems to be a reasonable
design.

[2016-06-27 18:58] soonhokong commented on #266
logic is used and a warning message is issued. Seems to be a reasonable
design.

I totally agree. I'll implement a similar one.

[2016-06-27 19:13] soonhokong opened #267 "support (push) (pop)"
As short-hadn forms for `(push 1)` and `(pop 1)`.

[2016-06-27 19:14] soonhokong opened #268 "implicitly assume QF_NRA_ODE if no logic is set"
Comment from https://github.com/dreal/dreal3/issues/266#issuecomment-228840893

[2016-06-27 20:59] githwxi commented on #267
Thanks!

[2016-06-27 23:27] cgd8d commented on #244
Just checking: is the fix for this as simple as

[code]

at https://github.com/dreal/dreal3/blob/v3.16.06.03/src/contractor/contractor_generic_forall.cpp#L516?

[2016-06-27 23:35] soonhokong commented on #244
I'm sorry for all the delays in this area (exist-forall). I've been busy working on other topics and refactoring the infrastructures (i.e. `contractor_status`). I'll check whether this patch is ok or not later today.

[2016-06-28 05:49] #267 closed

[2016-06-28 11:07] #244 closed

[2016-06-28 11:08] soonhokong commented on #244
@cgd8d, it's fixed by https://github.com/dreal/dreal3/commit/e6136c8813ee423fad5dc82f705d04a59e2f07a4.

[2016-06-28 12:59] cgd8d commented on #244
Awesome -- thanks!

[2016-06-28 20:12] soonhokong commented on #265
Closed by 55335dadba693e60c493b602e06e73d996121c59

[2016-06-28 20:13] #265 closed

[2016-06-28 20:14] soonhokong commented on #265
Thanks @dzufferey!

[2016-06-28 20:17] soonhokong opened #271 "docker documentation"
will write a short documentation how to use dReal in Windows via Docker

[2016-06-28 20:24] soonhokong commented on #212
done for `ibex_fwdbwd`, still needs some work for `polytope`.

[2016-06-28 20:25] #26 closed

[2016-07-01 14:18] cgd8d opened #272 "False unsat in forall problem"
The following problem reports unsat:

    (set-logic QF_NRA)
    (set-info :precision 0.001)

    (declare-fun x () Real [-10, 10])
    (declare-fun forall y () Real [-10, 10])
    (assert (
        forall (
            (y Real)
        )
        (not (and (>= y 0) (>= x 0)))
    ))
    (check-sat)
    (exit)

This problem should be satisfied by any negative x, so I believe reporting unsat is inco

[2016-07-02 01:56] soonhokong commented on #272
@cgd8d, thanks for the report. This and #243 are related issues.

For now, the support for exist-forall problems is still in its experimental stage. Given a `∃x.∀y.f(x,y)` where `f(x, y)` is an arbitrary quantifier-free first-order logic formula, we ask users to do the pre-processing to NNF/CNF-ize `f(x, y)` into `∧∨ g_(i,j)(x, y)`, and then re-write the initial problem `∃x.∀y.f(x,y)` into `∃x.∧∀y

[2016-07-02 01:59] soonhokong commented on #272
In this particular example, try the following pre-processed problem:

[code]

It should give you the expected delta-sat result.

[2016-07-02 13:23] cgd8d commented on #272
Yep, that works -- thanks for your explanation!

[2016-07-09 02:38] soonhokong commented on #271
1. Install Docker
2. `docker pull dreal/dreal3`
3. `docker run -it --entrypoint="/usr/local/bin/dReal" dreal/dreal3:latest <ARGS_TO_DREAL>`

[2016-07-09 02:40] soonhokong opened #273 "add threshold number for fixed points*"
feature requested by @scungao

[2016-07-09 02:41] soonhokong opened #274 "support options in parser so that options can be enforced in the input files"
feature requested by @scungao

[2016-07-09 02:41] soonhokong opened #275 "support user specification about the important variables"
feature requested by @scungao

[2016-07-09 02:41] soonhokong opened #276 "bash completion script for dReal"
mentioned by @dzufferey

[2016-07-09 03:31] soonhokong commented on #276
https://debian-administration.org/article/317/An_introduction_to_bash_completion_part_2

[2016-07-09 20:26] dzufferey commented on #276
I did such a script for another tool I'm working on: https://github.com/wies/grasshopper/blob/master/bin/bash_completion.sh
Is it not hard to do. However, dReal has a large number of options. To make sure that the script and dReals stays in sync, I'm wondering if we should generate the bash completion script directly from dReal code.

[2016-07-11 03:36] soonhokong commented on #276
@dzufferey, thanks for the link. I'll first add the feature. Later, I'll add the automation part.

[2016-07-11 18:23] cgd8d opened #277 "Incorrect solution to forall problem"
Input:

    (set-logic QF_NRA)
    (set-info :precision 0.001)

    (declare-fun x () Real [-1, 2])
    (declare-fun forall y () Real [-1, 2])

    (assert (
         forall (
               (y Real)
         )
         (or
               (or
                    (>= y 1)
                    (<= y 0)
               )
               (>= x y)
         )
    ))
    (check-sat)
    (exit)

Output:

[2016-07-11 18:24] cgd8d opened #278 "Speed-up in forall"
In the function “find_CE_via_underapprox”, it seems like the loop over enodes can be short-circuited when the counterexample box is already empty, which can save a significant amount of time.  Would something like the following patch be an appropriate way to do this?

    --- a/src/contractor/contractor_generic_forall.cpp
    +++ b/src/contractor/contractor_generic_forall.cpp
    @@ -369,6 +369,10

[2016-07-11 20:00] soonhokong commented on #278
@cgd8d, this is correct. I'll add the following patch:
[code]

[2016-07-11 20:02] #278 closed

[2016-07-11 21:02] soonhokong commented on #277
It's related to the previous problem. In short, we need to do pre-processing and only handle a conjunction of theory literals.

[2016-07-11 21:36] cgd8d commented on #277
Thanks.  I'm sorry if I keep filing different forms of the same issue, but I'm not sure I understand in this case what the preprocessing should generate.  In #272 you mentioned problems should be provided in CNF form; I think this problem is already in CNF, since it consists of only disjunctions.

[2016-07-12 15:37] soonhokong opened #281 "an option to suppress warnings"
travis choked by precision warnings

[2016-07-12 19:31] soonhokong opened #282 "push_pop_02.smt2 fails with --lp-icp / --lp-icp-prune"

[2016-07-12 23:23] #281 closed

[2016-07-14 01:12] #271 closed

[2016-07-21 18:52] cgd8d commented on #277
I believe I’ve found a patch which addresses this issue, though it’s probably not the best one.  It does two things.

First, flattens long sequences of ORs, so that handle_disjunction is not presented with an enode which is itself an OR.  (This can happen even for expressions which are already in CNF form, as I believe the current example shows.)

Second, for this input ibex’s ibwd operation retur

[2016-07-21 20:39] soonhokong commented on #277
@cgd8d, thanks for the patches. I'll take a closer look at them and merge them into the repository.

[2016-07-21 21:56] soonhokong commented on #277
Could you give us a small example where ibex contractor violates
monotonicity property? I can take a look and possibly fix the problem on
ibex side (or report the problem to the team).

On Thursday, July 21, 2016, cgd8d <notifications@github.com> wrote:

--

Best,
Soonho

[2016-07-21 22:08] cgd8d commented on #277
Applying the patch so that nested ORs are traversed (the part of the diff which is applied to handle_disjunction), I found that the input at the top of the thread did exactly that.  Maybe this could be confirmed by replacing "iv &= iv_copy" in the patch with an assertion that iv is a subset of iv_copy?

[2016-07-31 10:16] soonhokong commented on #277
@cgd8d, sorry for the delay. I'll check it soon.

[2016-08-03 14:02] soonho-tri commented on #277
@cgd8d, I'll do the flattening at the parsing time so that the rest do not need to worry about it.

[2016-08-03 14:03] soonho-tri opened #284 "flatten and/or at parsing time"

[2016-08-03 15:57] soonho-tri commented on #284
closed by 4ac1aa86048d144c488aa9cdd2c001a465ac1d5d

[2016-08-03 15:57] #284 closed

[2016-08-03 15:58] soonho-tri commented on #277
Closed by 4ac1aa86048d144c488aa9cdd2c001a465ac1d5d. Related Issue: #284.

[2016-08-03 16:00] soonho-tri commented on #277
@cgd8d, please check out the latest source code and try the example at the top. When I tested it, it returned `unsat` which is the correct answer.

I still have a concern with your comment on IBEX:

If this is still the case, I'd like to fix it. Could you give me a reproducible example? For instance, with a box `B1` and a constraint `C1`, IBEX returns `B2` which is not included in `B1`.

[2016-08-03 17:55] cgd8d commented on #277
@soonho-tri , thanks for tackling the flattening issue!  Unfortunately `unsat` is not the right answer -- the problem is satisfied, for example, by `x = 1.5`.

To trigger an appropriate assertion, try applying the following diff (tested against 5ba4d8a):

    diff --git a/src/contractor/contractor_generic_forall.cpp b/src/contractor/contractor_generic_forall.cpp
    index e6db4dc..9720a6b 100644

[2016-08-03 18:22] soonho-tri commented on #277
Oh, I see. I'll check that.

[2016-08-03 18:35] soonho-tri opened #285 "failed testcases (as of 8/3)"
[code]

[2016-08-03 20:07] soonho-tri commented on #277
I think that the current behavior of IBEX is correct according to the documentation http://www.ibex-lib.org/doc/interval.html?highlight=backward%20operator#backward-operators. It's just the case that we need to take an intersection between the result and the input. I just added a patch aee385f73a02e252112fe2c305d1e38192699930. After applying the patch, it should return delta-sat for the example.

[2016-08-03 20:07] #277 closed

[2016-08-03 20:18] cgd8d commented on #277
OK, that's great -- thanks!

[2016-08-03 21:07] #266 closed

[2016-08-08 19:05] soonho-tri opened #286 "make install doesn't install proper header files (i.e. dreal.h)"

[2016-08-09 14:23] soonho-tri opened #287 "add Adept as an external project"
https://github.com/rjhogan/Adept

[2016-08-09 14:28] soonho-tri commented on #287
forked to https://github.com/dreal-deps/Adept

[2016-08-09 14:48] soonho-tri commented on #287
Closed by https://github.com/dreal/dreal3/commit/56e5c2b97d821bc06fa04a2c78c44c54c2cacf02

[2016-08-09 14:48] #287 closed

[2016-08-09 15:11] soonho-tri commented on #286
- [ ] only install headers under `api` directory.

[2016-08-09 15:15] soonho-tri opened #288 "pick up pre-installed dependencies if exist"
- [ ] need to write `Find<PKG_NAME>.cmake` for each dep
 - Current deps: adept, easyloggingpp, ezoptionparser, ibex, json, nlopt, picosat, glpk, capd4

[2016-08-09 15:16] soonho-tri commented on #288
This one is related to adding dReal to drake. In the process, we can make sure that dReal can be plugged into another project.

[2016-08-09 15:24] soonho-tri opened #289 "add doxygen"

[2016-08-09 15:27] #286 closed

[2016-08-09 19:58] soonho-tri opened #290 "create pkg-config for dReal"

[2016-08-09 20:34] soonho-tri commented on #290
http://www.kaizou.org/2014/11/typical-cmake-project

Closed by 34b0a607bbc40841d77883b1450ba3b9b09a2c82

[2016-08-09 20:34] #290 closed

[2016-08-09 20:34] soonho-tri opened #291 "add/install "dreal_config.h""

[2016-08-09 20:35] soonho-tri commented on #291
API headers should be instantiated from `<HEADER>.h.in` to `<HEADER>.h` in cmake time as `config.h` is instantiated from `config.h.in`.

[2016-08-09 21:00] soonho-tri opened #292 "uncaught exception in generating ODE visualization"
from Jon's bicycle model.

[2016-08-10 13:44] soonho-tri commented on #292
This is what happens:
1. all ODE pruning failed and we had 'vacuous' delta-sat as a result.
2. Since `--visualize` option is on, visualization generator tries to get an actual trajectory from the delta-sat assignment. The exception is thrown here (from ODE solver).

[2016-08-10 17:16] #291 closed

[2016-08-10 20:31] soonho-tri opened #293 "use smaller precision for CE generations for exist-forall problem"
- also need to check the termination condition of inner loop

[2016-08-11 15:17] soonho-tri opened #294 "--simulation return wrong UNSAT results"
- [x] regression_nra_simul_mass_spring.smt2
 - [x] regression_nra_simul_exist_forall_07.smt2
 - [x] regression_nra_simul_exist_forall_09.smt2

[2016-08-17 19:59] soonho-tri commented on #294
Fixed by 6c5bf19

[2016-08-17 19:59] #294 closed

[2016-08-24 07:34] marcogario opened #295 "C-API: Some functions are missing an implementation"
The following functions appear in ```dreal_c.h``` but do not have an implementation in ```dreal_c.cpp```:

[code]

This is a problem because I am writing a Python wrapper for dReal, and when opening the shared object I get an error that those functions do not exist. I am currently not using any of those, therefore I am not sure whether the solution is to implement them or to remove them from he AP

[2016-08-24 10:01] soonho-tri commented on #295
Closed by a1ecbac5017d7d2671dc6acc1e41a141b2d8cb3a and 203c99729dbec7a24b36babe84c527d9eab9d666.

[2016-08-24 10:01] #295 closed

[2016-08-24 10:03] soonho-tri commented on #295
1. `{get,set}_bound_{lb,ub}` functions are removed from our internal data structures and now obsolete. I just removed them from C API.

2. I fixed the following one:
[code]

3. The other functions -- `dreal_prefer`, `dreal_print_proof`, and `dreal_print_interpolant` -- will be added later.

[2016-08-24 11:08] marcogario commented on #295
Thank you very much for the quick response!

[2016-08-24 11:55] soonho-tri commented on #295
@marcogario, thanks for finding the problems.

BTW, do you plan to open-source the python binding?

[2016-08-24 14:34] marcogario commented on #295
Sure, this will be part of pySMT (http://github.com/pysmt/pysmt) . If you are interested in including them in the main distribution of dReal, I will be very glad to open a PR as soon as I am done.
This would be good for us, so that we know that we are in sync. Nevertheless, for some other solvers we keep the bindings in our own repository (e.g., repycudd and pypicosat).

[2016-08-24 14:38] soonho-tri commented on #295
@marcogario, I see. Please feel free to contact me if you find a problem in working on the dReal binding. I'm very happy to help.

I think it's great to have the Python binding inside of dReal repository. But I'll discuss it with other members.

[2016-08-24 14:49] scungao commented on #295
Thanks a lot for the good work @marcogario. We could probably fork pySMT in https://github.com/dreal-deps and create options for people who need it to install it at compile time.

[2016-09-11 01:21] scungao opened #299 "dump_dr_file() handles some inequalities wrongly"
Most likely missing polarity.

[2016-09-11 01:35] soonho-tri commented on #299
can you give me 1-2 examples?

[2016-09-11 01:46] scungao commented on #299
sicun-> cat wrong.cpp
#include "dreal.h"
using namespace dreal;
int main() {
    solver s;
    expr x = s.var("x",-1,1);
    s.add(x+sin(x)<0);
    s.dump_dr_file("wrong"); //it writes to wrongdumped.dr
    return 0;
}

sicun-> cat wrongdumped.dr
var:
[-1,1] x;
ctr:
(0.000000000000000000000000000000)<=(x+sin(x)); //note how the inequality is reversed
1>0;

[2016-09-11 01:47] soonho-tri commented on #299
I'm on it.

[2016-09-11 02:06] #299 closed

[2016-09-11 16:19] soonho-tri opened #300 "std::logic_error: C0DoubletonSet fatal error from CAPD4"
[code]

Output:

[code]

[2016-09-12 02:23] soonho-tri commented on #255
This one is working now.

[2016-09-12 02:23] #255 closed

[2016-09-12 19:53] Nikh13 opened #301 "Custom datatypes [dReal v3.16.04.01] [OSX 10.11.4]"
Hi,

I have recently moved to dReal from z3 due to its obvious advantage dealing with non-linear theories. However, for some of the problems I have been working on, I wish to declare functions with a non-numeric(i.e string or character) domain.

For e.g in z3:
`(declare-datatypes () ((State stopped running)))`
was a supported statement which declared the datatype `State` with the domain `{stopped,

[2016-09-12 20:39] soonho-tri commented on #301
Hi @Nikh13,

Unfortunately, we don't support `declare-datatypes`. As far as I know, it's an experimental feature which possibly will be included in the next standard of SMTLIB.

We do support `Bool`, `Int`, and `Real` sorts. I think you may encode the datatype using two `Bool` variables.

[2016-09-26 15:33] jamiesnape commented on #288
You can use `find_package` for the latest master of `nlopt` without writing a find-package file. For any CMake-based projects, I would try to upstream a `*-config.cmake` file.

[2016-09-26 16:05] soonho-tri commented on #288
@jamiesnape, thanks!

[2016-09-27 06:12] #300 closed

[2016-09-27 07:42] soonho-tri opened #303 "clp build issue"
Install CLP
 - Ubuntu : `sudo apt-get install coinor-libclp-dev`
 - OSX : `brew install coin-or-tools/coinor/clp`

FindCLP.cmake
 - https://raw.githubusercontent.com/libigl/CoMISo/master/cmake/FindCLP.cmake

Need to check:
 - IBEX picks up system-CLP
  - [x] Ubuntu
  - [x] OSX
 - [x] set `--without-lp` in configuring IBEX if CLP is not found

[2016-09-27 18:17] soonho-tri opened #304 "make an option to enable polytope only for the outer loop for EA problems"
should be useful for `E^L A` problems

[2016-09-27 21:10] soonho-tri commented on #303
It turns out that `coinor-libclp-dev` in Ubuntu 12.04 is [an out-dated version](http://packages.ubuntu.com/precise/coinor-libclp-dev) (`1.12.0-2.1`) and IBEX requires a newer version. I checked that Ubuntu-14.04 provides [version 1.15.5](http://packages.ubuntu.com/trusty/coinor-libclp-dev) and it worked fine with IBEX.

I think it's time to drop Ubuntu-12.04 support and move on to Ubuntu-14.04 (an

[2016-09-27 21:11] soonho-tri commented on #303
FYI, we used to build a `clp-1.16.7` via ExternalProject_Add.

[2016-09-28 09:35] soonho-tri commented on #303
TODO
 - suppress `deprecated-register` warning from CLP source
 - add `USE_LP` variable from `CLP_FOUND`

[2016-09-28 10:14] soonho-tri commented on #303
- [ ] update PPA to include `coinor-libclp-dev` dependency
 - [ ] update homebrew to include `coin-or-tools/coinor/clp` dependency